In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
from tqdm import tqdm_notebook
import dill
from tqdm import tqdm_notebook
from alpha_vantage.timeseries import TimeSeries

After attempting to do things _correctly_ with SQL, I realized I would burn a lot of time teaching myself how to process relatively little data. So I've decided to collect all my data gathering into one notebook, and use Pandas instead of SQLite, because I can stand that up _adequately and quickly_.

First, lets get the historical PDUFA Dates

In [2]:
from urllib2 import urlopen
import ics
import re
tickerRe = re.compile(r"\A[A-Z]{3,4}\W")
today = datetime.today()

In [3]:
FdaUrl = "https://calendar.google.com/calendar/ical/5dso8589486irtj53sdkr4h6ek%40group.calendar.google.com/public/basic.ics"

In [4]:
FdaCal = ics.Calendar(urlopen(FdaUrl).read().decode('iso-8859-1'))

In [5]:
FdaCal

In [7]:
past_pdufa_syms = set()
for event in tqdm_notebook(FdaCal.events):
    matches = re.findall(tickerRe, event.name)
    if len(matches) >=1:
        eComp = str(matches[0]).strip().strip(".")
        past_pdufa_syms.add(eComp)

Thats all the ticker symbols in the past PDUFA list. Lets run the Alpha vantage API.

In [8]:
av_key_handle = open("alphavantage.apikey", "r")
ts = TimeSeries(key=av_key_handle.read().strip(), output_format='pandas')
av_key_handle.close()

In [9]:
dataframes = dict()

In [10]:
fails = set()
wins = set()
for ticker in tqdm_notebook(past_pdufa_syms):
    try:
        df, meta = ts.get_daily(symbol=ticker, outputsize='full')
        dataframes[meta["2. Symbol"]] = df
    except:
        fails.add(ticker)
    else:
        wins.add(meta["2. Symbol"])

Now we'll run through our past FDA dates and join the FDA actions to each dataframe

In [13]:
companies = dataframes.keys()

In [18]:
price_and_fda = dict()
for company in tqdm_notebook(companies):
    company_events = []
    for event in FdaCal.events:
        matches = re.findall(tickerRe, event.name)
        if len(matches)>=1:
            if company in matches[0]:
                #print company, event.name, event.begin
                company_events.append((event.begin.datetime.strftime("%Y-%m-%d"), "pdufa"))
    price = dataframes[company]
    raw_dates = pd.DataFrame(company_events, columns = ["date", "event"])
    dates = raw_dates.set_index("date")
    #print dates
    #print price
    final = price.join(dates,rsuffix='_y')
    price_and_fda[company] = final

So I know this code is seriously inelegant. However since this is just for gathering training data (and I'm far more competent with pandas than SQL) I decided that Programmer time is more needed than computer time in this case.

In [20]:
price_and_fda['MRK']

                volume  close   high   open    low  event
2000-01-03   5978800.0  67.63  68.63  68.63  67.50    NaN
2000-01-04   7533100.0  65.25  67.81  67.00  64.75    NaN
2000-01-05   7598300.0  68.25  68.88  65.06  65.06    NaN
2000-01-06   4760500.0  68.38  69.19  67.81  67.69    NaN
2000-01-07  10373300.0  74.94  75.25  69.81  69.63    NaN
2000-01-10   5726800.0  72.75  74.81  74.75  72.13    NaN
2000-01-11   5023300.0  72.81  73.69  72.06  71.38    NaN
2000-01-12   4990400.0  74.44  75.19  73.63  73.44    NaN
2000-01-13   5353500.0  74.75  76.13  74.81  73.81    NaN
2000-01-14   5540200.0  74.13  75.94  75.25  72.69    NaN
2000-01-18   5299700.0  70.81  73.56  73.13  70.56    NaN
2000-01-19   4761600.0  71.50  72.69  71.75  71.25    NaN
2000-01-20   4986300.0  72.94  73.19  71.94  71.44    NaN
2000-01-21   7928900.0  72.44  74.50  74.50  71.56    NaN
2000-01-24   5189100.0  70.25  73.00  73.00  69.06    NaN
2000-01-25   5446100.0  70.88  72.00  71.13  70.63    NaN
2000-01-26   5357500.0  72.81  73.00  71.00  70.63    NaN
2000-01-27   7747200.0  74.13  75.44  73.13  73.00    NaN
2000-01-28   9823000.0  76.38  78.44  75.50  75.25    NaN
2000-01-31   8006300.0  78.63  79.00  75.69  74.56    NaN
2000-02-01   5026400.0  76.81  77.94  77.38  75.50    NaN
2000-02-02   4642700.0  76.88  78.38  77.31  75.94    NaN
2000-02-03   3874000.0  76.25  76.69  76.31  75.38    NaN
2000-02-04   4262100.0  75.06  76.88  76.88  74.94    NaN
2000-02-07   4170200.0  75.25  75.44  74.25  73.75    NaN
2000-02-08   3939200.0  75.44  75.88  75.50  75.06    NaN
2000-02-09   6927300.0  71.38  74.19  74.13  70.88    NaN
2000-02-10   7019500.0  69.00  70.25  70.00  68.00    NaN
2000-02-11   9213400.0  65.25  68.13  67.63  64.31    NaN
2000-02-14   8933100.0  66.06  66.44  65.50  64.00    NaN
...                ...    ...    ...    ...    ...    ...
2017-08-25   5262101.0  62.94  63.29  62.87  62.77    NaN
2017-08-28   7419544.0  63.32  63.46  63.11  62.98    NaN
2017-08-29   6559183.0  63.12  63.21  63.13  62.72    NaN
2017-08-30   4905023.0  63.12  63.17  63.14  62.90    NaN
2017-08-31  12685900.0  63.86  63.92  63.35  62.95    NaN
2017-09-01   6181735.0  63.83  64.10  63.79  63.60    NaN
2017-09-05   7236202.0  63.62  64.11  63.75  63.46    NaN
2017-09-06   6867537.0  64.00  64.33  63.89  63.77    NaN
2017-09-07   6772953.0  64.32  64.42  64.09  63.79    NaN
2017-09-08   7343761.0  64.27  64.53  63.99  63.94    NaN
2017-09-11  10115828.0  65.13  65.31  64.94  64.68    NaN
2017-09-12   7350330.0  65.46  65.62  65.12  65.12    NaN
2017-09-13   5554873.0  65.45  65.55  65.36  65.30    NaN
2017-09-14   9889131.0  66.12  66.17  64.99  64.91    NaN
2017-09-15  14271851.0  66.16  66.38  66.17  65.75    NaN
2017-09-18  10538309.0  65.99  66.41  66.02  65.81    NaN
2017-09-19   6954343.0  65.95  66.16  66.02  65.68    NaN
2017-09-20   9263753.0  65.79  66.31  66.07  65.19    NaN
2017-09-21   5876566.0  65.60  65.93  65.85  65.52    NaN
2017-09-22   7378603.0  65.13  65.70  65.63  65.07  pdufa
2017-09-25   5471183.0  65.18  65.40  65.16  65.04    NaN
2017-09-26   5793974.0  64.76  65.32  65.10  64.72    NaN
2017-09-27   6586716.0  64.57  64.75  64.68  64.32    NaN
2017-09-28   6992210.0  64.29  64.66  64.27  64.17    NaN
2017-09-29  11412426.0  64.03  64.53  64.29  63.33    NaN
2017-10-02   6105156.0  64.55  64.68  64.21  63.89    NaN
2017-10-03   6493480.0  64.37  64.58  64.55  63.78    NaN
2017-10-04   6337610.0  64.60  64.62  64.42  64.33    NaN
2017-10-05   8842820.0  64.60  64.80  64.42  64.33    NaN
2017-10-06   6785589.0  64.55  64.90  64.70  64.37    NaN

[4470 rows x 6 columns]

In [21]:
dill.dump(price_and_fda, open("Prices_and_FDA_Dates.pkl", "w"))