# ...So
We now have a SQLite db with a bunch of stock price data

In [3]:
%load_ext sql
%sql sqlite:///training_data.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

u'Connected: None@training_data.db'

In [4]:
%%sql
SELECT * FROM sqlite_master WHERE "type"='table';

Done.

[(u'table', u'historical_pdufas', u'historical_pdufas', 2, u'CREATE TABLE historical_pdufas (\n\t"index" BIGINT, \n\t"Ticker" TEXT, \n\t"DateTime" DATETIME\n)'),
 (u'table', u'ENTA', u'ENTA', 4, u'CREATE TABLE "ENTA" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'AGN', u'AGN', 28, u'CREATE TABLE "AGN" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'LIFE', u'LIFE', 114, u'CREATE TABLE "LIFE" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'KITE', u'KITE', 199, u'CREATE TABLE "KITE" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'BSTC', u'BSTC', 217, u'CREATE TABLE "BSTC" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'AAAP', u'AAAP', 300, u'CREATE TABLE "AAAP" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'FLML', u'FLML', 312, u'CREATE TABLE "FLML" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'SAGE', u'SAGE', 320, u'CREATE TABLE "SAGE" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'PAR', u'PAR', 338, u'CREATE TABLE "PAR" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'BPTH', u'BPTH', 423, u'CREATE TABLE "BPTH" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'AGEN', u'AGEN', 471, u'CREATE TABLE "AGEN" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'ESPR', u'ESPR', 557, u'CREATE TABLE "ESPR" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'RETA', u'RETA', 579, u'CREATE TABLE "RETA" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'IRWD', u'IRWD', 588, u'CREATE TABLE "IRWD" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'VNDA', u'VNDA', 627, u'CREATE TABLE "VNDA" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'RPTP', u'RPTP', 684, u'CREATE TABLE "RPTP" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'BYSI', u'BYSI', 734, u'CREATE TABLE "BYSI" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'ACUR', u'ACUR', 738, u'CREATE TABLE "ACUR" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'DEPO', u'DEPO', 826, u'CREATE TABLE "DEPO" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'ARIA', u'ARIA', 912, u'CREATE TABLE "ARIA" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'CNAT', u'CNAT', 920, u'CREATE TABLE "CNAT" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'ALDR', u'ALDR', 942, u'CREATE TABLE "ALDR" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'VRTX', u'VRTX', 960, u'CREATE TABLE "VRTX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'THRX', u'THRX', 1046, u'CREATE TABLE "THRX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'HPTX', u'HPTX', 1102, u'CREATE TABLE "HPTX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'AGLE', u'AGLE', 1118, u'CREATE TABLE "AGLE" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'DRRX', u'DRRX', 1128, u'CREATE TABLE "DRRX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'EXEL', u'EXEL', 1211, u'CREATE TABLE "EXEL" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'FLXN', u'FLXN', 1296, u'CREATE TABLE "FLXN" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'XBIT', u'XBIT', 1316, u'CREATE TABLE "XBIT" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'JNCE', u'JNCE', 1330, u'CREATE TABLE "JNCE" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'MEIP', u'MEIP', 1335, u'CREATE TABLE "MEIP" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'ADMP', u'ADMP', 1402, u'CREATE TABLE "ADMP" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'ADMS', u'ADMS', 1487, u'CREATE TABLE "ADMS" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'OTIC', u'OTIC', 1506, u'CREATE TABLE "OTIC" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'ACOR', u'ACOR', 1523, u'CREATE TABLE "ACOR" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'CEMP', u'CEMP', 1582, u'CREATE TABLE "CEMP" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'KMPH', u'KMPH', 1611, u'CREATE TABLE "KMPH" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'RLYP', u'RLYP', 1625, u'CREATE TABLE "RLYP" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'ANAB', u'ANAB', 1630, u'CREATE TABLE "ANAB" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'TNXP', u'TNXP', 1635, u'CREATE TABLE "TNXP" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'ITEK', u'ITEK', 1663, u'CREATE TABLE "ITEK" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'JNJ', u'JNJ', 1678, u'CREATE TABLE "JNJ" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'PSTI', u'PSTI', 1765, u'CREATE TABLE "PSTI" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'SNY', u'SNY', 1835, u'CREATE TABLE "SNY" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'AMAG', u'AMAG', 1910, u'CREATE TABLE "AMAG" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'AFMD', u'AFMD', 1995, u'CREATE TABLE "AFMD" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'GWPH', u'GWPH', 2012, u'CREATE TABLE "GWPH" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'GBT', u'GBT', 2036, u'CREATE TABLE "GBT" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'CRTX', u'CRTX', 2049, u'CREATE TABLE "CRTX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'CRMD', u'CRMD', 2096, u'CREATE TABLE "CRMD" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'LPCN', u'LPCN', 2133, u'CREATE TABLE "LPCN" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'SVRA', u'SVRA', 2154, u'CREATE TABLE "SVRA" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'VCEL', u'VCEL', 2165, u'CREATE TABLE "VCEL" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'PTGX', u'PTGX', 2252, u'CREATE TABLE "PTGX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'ADXS', u'ADXS', 2261, u'CREATE TABLE "ADXS" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'PHMMF', u'PHMMF', 2321, u'CREATE TABLE "PHMMF" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'DCTH', u'DCTH', 2323, u'CREATE TABLE "DCTH" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'AEGR', u'AEGR', 2398, u'CREATE TABLE "AEGR" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'TBPH', u'TBPH', 2430, u'CREATE TABLE "TBPH" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'DVAX', u'DVAX', 2448, u'CREATE TABLE "DVAX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'SGEN', u'SGEN', 2515, u'CREATE TABLE "SGEN" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'IOVA', u'IOVA', 2596, u'CREATE TABLE "IOVA" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'BHVN', u'BHVN', 2631, u'CREATE TABLE "BHVN" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'NVLS', u'NVLS', 2635, u'CREATE TABLE "NVLS" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'EGRX', u'EGRX', 2648, u'CREATE TABLE "EGRX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'QCOR', u'QCOR', 2668, u'CREATE TABLE "QCOR" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'AFFY', u'AFFY', 2739, u'CREATE TABLE "AFFY" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'BCRX', u'BCRX', 2793, u'CREATE TABLE "BCRX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'AXSM', u'AXSM', 2879, u'CREATE TABLE "AXSM" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'GLMD', u'GLMD', 2891, u'CREATE TABLE "GLMD" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'CPRX', u'CPRX', 2911, u'CREATE TABLE "CPRX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'DBVT', u'DBVT', 2966, u'CREATE TABLE "DBVT" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'RDUS', u'RDUS', 2983, u'CREATE TABLE "RDUS" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'IPXL', u'IPXL', 3001, u'CREATE TABLE "IPXL" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'NGSX', u'NGSX', 3086, u'CREATE TABLE "NGSX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'RMTI', u'RMTI', 3088, u'CREATE TABLE "RMTI" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'NVS', u'NVS', 3174, u'CREATE TABLE "NVS" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'RNN', u'RNN', 3260, u'CREATE TABLE "RNN" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'ALTH', u'ALTH', 3319, u'CREATE TABLE "ALTH" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'ALDX', u'ALDX', 3381, u'CREATE TABLE "ALDX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'OPHT', u'OPHT', 3399, u'CREATE TABLE "OPHT" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'KURA', u'KURA', 3420, u'CREATE TABLE "KURA" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'CBIO', u'CBIO', 3432, u'CREATE TABLE "CBIO" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'NVO', u'NVO', 3445, u'CREATE TABLE "NVO" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'MELA', u'MELA', 3531, u'CREATE TABLE "MELA" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'OPK', u'OPK', 3582, u'CREATE TABLE "OPK" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'EBIO', u'EBIO', 3668, u'CREATE TABLE "EBIO" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'HRTX', u'HRTX', 3688, u'CREATE TABLE "HRTX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'ONTX', u'ONTX', 3774, u'CREATE TABLE "ONTX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'MRUS', u'MRUS', 3796, u'CREATE TABLE "MRUS" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'SPPI', u'SPPI', 3805, u'CREATE TABLE "SPPI" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'AMGN', u'AMGN', 3891, u'CREATE TABLE "AMGN" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'CRBP', u'CRBP', 3977, u'CREATE TABLE "CRBP" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'DOR', u'DOR', 3993, u'CREATE TABLE "DOR" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'WCRX', u'WCRX', 4071, u'CREATE TABLE "WCRX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'KTOV', u'KTOV', 4107, u'CREATE TABLE "KTOV" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'SMMT', u'SMMT', 4119, u'CREATE TABLE "SMMT" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'AZN', u'AZN', 4133, u'CREATE TABLE "AZN" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'VRX', u'VRX', 4219, u'CREATE TABLE "VRX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'CADX', u'CADX', 4305, u'CREATE TABLE "CADX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'EPIX', u'EPIX', 4342, u'CREATE TABLE "EPIX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'IGXT', u'IGXT', 4355, u'CREATE TABLE "IGXT" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'HALO', u'HALO', 4409, u'CREATE TABLE "HALO" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'MBVX', u'MBVX', 4476, u'CREATE TABLE "MBVX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'BLRX', u'BLRX', 4494, u'CREATE TABLE "BLRX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'OREX', u'OREX', 4527, u'CREATE TABLE "OREX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'OPTR', u'OPTR', 4579, u'CREATE TABLE "OPTR" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'LOXO', u'LOXO', 4614, u'CREATE TABLE "LOXO" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'SNDX', u'SNDX', 4632, u'CREATE TABLE "SNDX" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'CNCE', u'CNCE', 4642, u'CREATE TABLE "CNCE" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'IMGN', u'IMGN', 4662, u'CREATE TABLE "IMGN" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'LJPC', u'LJPC', 4748, u'CREATE TABLE "LJPC" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'MNOV', u'MNOV', 4777, u'CREATE TABLE "MNOV" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'GALE', u'GALE', 4830, u'CREATE TABLE "GALE" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'ATRS', u'ATRS', 4878, u'CREATE TABLE "ATRS" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'CLSD', u'CLSD', 4964, u'CREATE TABLE "CLSD" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'HEB', u'HEB', 4973, u'CREATE TABLE "HEB" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'INNL', u'INNL', 5059, u'CREATE TABLE "INNL" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'CLSN', u'CLSN', 5076, u'CREATE TABLE "CLSN" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),
 (u'table', u'TXMD', u'TXMD', 5162, u'CREATE TABLE "TXMD" (\n\t"index" TEXT, \n\tvolume FLOAT, \n\tclose FLOAT, \n\thigh FLOAT, \n\topen FLOAT, \n\tlow FLOAT\n)'),

In [12]:
%%sql
select * 
FROM amgn
LIMIT 200

Done.

[(u'2000-01-03', 22914900.0, 60.06, 60.06, 60.06, 60.06),
 (u'2000-01-04', 15052600.0, 58.13, 64.13, 62.0, 57.69),
 (u'2000-01-05', 15071400.0, 59.94, 60.25, 59.19, 58.25),
 (u'2000-01-06', 11118400.0, 61.13, 61.94, 60.75, 60.25),
 (u'2000-01-07', 15953900.0, 68.0, 68.5, 62.75, 62.63),
 (u'2000-01-10', 10555300.0, 72.13, 72.69, 69.5, 69.5),
 (u'2000-01-11', 14103100.0, 66.44, 72.38, 72.06, 64.13),
 (u'2000-01-12', 11576800.0, 63.56, 67.75, 67.63, 62.56),
 (u'2000-01-13', 10552600.0, 66.81, 67.75, 64.75, 63.81),
 (u'2000-01-14', 8971200.0, 68.31, 70.0, 68.88, 67.38),
 (u'2000-01-18', 8658100.0, 69.06, 70.13, 70.0, 68.25),
 (u'2000-01-19', 12070900.0, 72.0, 72.94, 70.0, 69.88),
 (u'2000-01-20', 9460900.0, 71.81, 74.5, 74.38, 69.63),
 (u'2000-01-21', 8154300.0, 74.69, 75.0, 73.38, 72.0),
 (u'2000-01-24', 9853500.0, 69.25, 76.5, 75.88, 69.13),
 (u'2000-01-25', 11251900.0, 69.38, 70.81, 70.75, 66.0),
 (u'2000-01-26', 16000800.0, 64.13, 68.88, 67.88, 64.06),
 (u'2000-01-27', 14797000.0, 61.38, 65.06, 65.0, 59.13),
 (u'2000-01-28', 10899900.0, 59.69, 61.44, 61.44, 59.38),
 (u'2000-01-31', 12619500.0, 63.69, 63.88, 61.0, 59.88),
 (u'2000-02-01', 9902700.0, 65.31, 66.0, 64.75, 62.75),
 (u'2000-02-02', 9976900.0, 63.75, 65.13, 65.13, 61.88),
 (u'2000-02-03', 7613000.0, 64.0, 65.0, 64.75, 62.38),
 (u'2000-02-04', 8069600.0, 64.63, 66.5, 64.75, 64.13),
 (u'2000-02-07', 9190200.0, 69.19, 69.56, 66.5, 65.13),
 (u'2000-02-08', 11108300.0, 70.5, 72.19, 70.38, 69.19),
 (u'2000-02-09', 7774100.0, 66.81, 71.5, 71.25, 66.63),
 (u'2000-02-10', 8880100.0, 65.19, 67.5, 67.38, 64.5),
 (u'2000-02-11', 8105000.0, 62.63, 66.31, 65.31, 61.94),
 (u'2000-02-14', 8794600.0, 65.06, 65.88, 63.56, 62.38),
 (u'2000-02-15', 8358400.0, 65.06, 65.75, 65.25, 64.19),
 (u'2000-02-16', 11654800.0, 69.88, 70.0, 65.13, 64.75),
 (u'2000-02-17', 14842800.0, 72.75, 74.0, 70.19, 69.94),
 (u'2000-02-18', 14959700.0, 71.31, 75.0, 74.5, 69.94),
 (u'2000-02-22', 8657100.0, 67.5, 71.94, 71.69, 66.38),
 (u'2000-02-23', 9098600.0, 71.44, 72.13, 68.69, 67.13),
 (u'2000-02-24', 9630100.0, 72.56, 73.19, 72.13, 68.45),
 (u'2000-02-25', 8556500.0, 73.56, 74.0, 73.0, 70.13),
 (u'2000-02-28', 13264800.0, 68.44, 72.88, 72.88, 66.5),
 (u'2000-02-29', 8593500.0, 68.19, 70.5, 70.25, 67.13),
 (u'2000-03-01', 10212300.0, 65.06, 67.25, 67.0, 64.81),
 (u'2000-03-02', 12075000.0, 65.31, 67.88, 65.31, 63.0),
 (u'2000-03-03', 10481000.0, 66.31, 67.88, 66.88, 65.0),
 (u'2000-03-06', 12645900.0, 64.56, 66.88, 66.88, 63.31),
 (u'2000-03-07', 12739800.0, 61.0, 65.5, 65.44, 60.5),
 (u'2000-03-08', 15595000.0, 61.38, 63.38, 63.0, 60.69),
 (u'2000-03-09', 10935000.0, 59.0, 61.69, 61.56, 58.88),
 (u'2000-03-10', 16043800.0, 59.56, 63.38, 60.0, 58.75),
 (u'2000-03-13', 10081100.0, 58.0, 60.25, 58.19, 58.0),
 (u'2000-03-14', 27589100.0, 52.25, 60.0, 59.88, 51.06),
 (u'2000-03-15', 33529500.0, 58.5, 59.38, 57.19, 56.0),
 (u'2000-03-16', 18216200.0, 64.75, 65.5, 62.5, 61.13),
 (u'2000-03-17', 12260600.0, 63.13, 65.19, 64.25, 62.19),
 (u'2000-03-20', 20278200.0, 58.0, 62.38, 62.25, 56.94),
 (u'2000-03-21', 16598600.0, 61.13, 61.5, 58.13, 55.13),
 (u'2000-03-22', 11226000.0, 61.75, 63.13, 61.69, 60.0),
 (u'2000-03-23', 20064100.0, 57.69, 58.5, 58.0, 56.81),
 (u'2000-03-24', 21633800.0, 57.69, 57.69, 57.69, 57.69),
 (u'2000-03-27', 15924900.0, 60.38, 61.0, 55.13, 55.13),
 (u'2000-03-28', 18037600.0, 62.81, 65.75, 61.25, 60.41),
 (u'2000-03-29', 10524700.0, 62.25, 65.88, 64.94, 61.69),
 (u'2000-03-30', 9182700.0, 60.25, 64.31, 61.56, 59.0),
 (u'2000-03-31', 7864600.0, 61.38, 63.0, 61.63, 59.63),
 (u'2000-04-03', 6449800.0, 59.38, 61.94, 61.0, 58.13),
 (u'2000-04-04', 14755200.0, 56.44, 60.13, 60.13, 53.81),
 (u'2000-04-05', 10977800.0, 59.63, 62.25, 56.31, 56.0),
 (u'2000-04-06', 10843500.0, 62.31, 64.38, 61.89, 61.5),
 (u'2000-04-07', 8580600.0, 60.94, 64.38, 63.44, 60.25),
 (u'2000-04-10', 9390100.0, 58.88, 63.75, 62.0, 58.75),
 (u'2000-04-11', 7586200.0, 59.13, 60.38, 58.0, 57.0),
 (u'2000-04-12', 7345800.0, 58.39, 61.5, 60.13, 58.19),
 (u'2000-04-13', 8131900.0, 57.81, 61.38, 59.56, 56.5),
 (u'2000-04-14', 12667000.0, 52.75, 58.0, 56.69, 52.13),
 (u'2000-04-17', 12355900.0, 53.38, 54.25, 52.38, 50.0),
 (u'2000-04-18', 9480500.0, 58.38, 58.5, 54.77, 54.13),
 (u'2000-04-19', 9010200.0, 56.0, 59.94, 58.44, 55.25),
 (u'2000-04-20', 7848300.0, 54.0, 57.25, 56.75, 53.19),
 (u'2000-04-24', 11779300.0, 51.31, 53.8, 53.31, 50.0),
 (u'2000-04-25', 11171500.0, 54.31, 54.56, 53.19, 51.25),
 (u'2000-04-26', 31026200.0, 57.25, 61.3, 52.88, 52.5),
 (u'2000-04-27', 12936000.0, 54.13, 55.63, 55.55, 52.63),
 (u'2000-04-28', 12969900.0, 56.0, 56.38, 55.25, 53.0),
 (u'2000-05-01', 7822900.0, 55.88, 57.94, 57.0, 55.13),
 (u'2000-05-02', 8039500.0, 56.13, 57.75, 55.88, 55.39),
 (u'2000-05-03', 6569700.0, 53.75, 56.06, 56.0, 52.88),
 (u'2000-05-04', 7953500.0, 56.56, 57.75, 54.5, 54.38),
 (u'2000-05-05', 7025100.0, 59.56, 59.81, 55.88, 55.63),
 (u'2000-05-08', 9295600.0, 61.88, 62.69, 59.0, 57.88),
 (u'2000-05-09', 6544300.0, 59.94, 61.94, 61.94, 58.75),
 (u'2000-05-10', 5981400.0, 59.81, 61.0, 59.44, 58.25),
 (u'2000-05-11', 5714400.0, 61.63, 62.0, 60.31, 59.31),
 (u'2000-05-12', 4738900.0, 62.38, 62.44, 61.88, 60.88),
 (u'2000-05-15', 6272200.0, 64.19, 64.75, 62.13, 61.19),
 (u'2000-05-16', 8408500.0, 64.69, 65.19, 64.88, 63.31),
 (u'2000-05-17', 4834700.0, 62.92, 64.38, 63.63, 62.81),
 (u'2000-05-18', 4920200.0, 61.19, 63.75, 63.38, 61.0),
 (u'2000-05-19', 5703300.0, 59.88, 60.88, 59.88, 59.63),
 (u'2000-05-22', 10503300.0, 57.19, 60.25, 60.19, 56.25),
 (u'2000-05-23', 7174300.0, 55.56, 60.0, 57.19, 55.5),
 (u'2000-05-24', 8013100.0, 59.63, 59.69, 56.69, 55.94),
 (u'2000-05-25', 6319500.0, 57.94, 62.13, 60.13, 57.75),
 (u'2000-05-26', 3271000.0, 59.0, 59.5, 58.13, 57.0),
 (u'2000-05-30', 5253800.0, 63.38, 63.56, 60.31, 60.31),
 (u'2000-05-31', 7618000.0, 63.63, 64.94, 63.13, 62.5),
 (u'2000-06-01', 6144000.0, 64.81, 65.25, 63.94, 62.13),
 (u'2000-06-02', 10113800.0, 67.0, 68.5, 66.0, 66.0),
 (u'2000-06-05', 6382900.0, 67.06, 68.81, 66.56, 66.25),
 (u'2000-06-06', 6327000.0, 67.5, 69.5, 67.31, 66.13),
 (u'2000-06-07', 3942800.0, 68.0, 68.5, 67.94, 66.44),
 (u'2000-06-08', 5272200.0, 65.69, 68.19, 68.13, 65.25),
 (u'2000-06-09', 10110500.0, 62.63, 68.5, 66.0, 61.0),
 (u'2000-06-12', 9648700.0, 61.0, 63.94, 63.25, 60.0),
 (u'2000-06-13', 6875300.0, 65.69, 65.88, 60.88, 60.88),
 (u'2000-06-14', 4743400.0, 64.31, 66.25, 66.25, 63.63),
 (u'2000-06-15', 5766900.0, 66.44, 66.75, 65.17, 64.38),
 (u'2000-06-16', 8687700.0, 68.0, 69.13, 67.5, 65.5),
 (u'2000-06-19', 6660500.0, 70.38, 70.44, 67.69, 67.06),
 (u'2000-06-20', 8561200.0, 70.0, 70.44, 70.19, 69.56),
 (u'2000-06-21', 5478500.0, 70.31, 70.88, 69.44, 69.13),
 (u'2000-06-22', 5983000.0, 66.69, 70.0, 69.5, 66.25),
 (u'2000-06-23', 3792200.0, 66.63, 68.63, 66.63, 65.88),
 (u'2000-06-26', 5719000.0, 69.94, 70.13, 67.5, 66.75),
 (u'2000-06-27', 5663500.0, 67.38, 70.19, 69.88, 66.5),
 (u'2000-06-28', 4754000.0, 69.13, 69.94, 67.31, 67.13),
 (u'2000-06-29', 4604000.0, 68.25, 69.75, 68.44, 67.56),
 (u'2000-06-30', 6730700.0, 70.25, 70.5, 67.75, 66.56),
 (u'2000-07-03', 3186800.0, 68.5, 69.75, 69.69, 68.31),
 (u'2000-07-05', 13114900.0, 73.81, 74.25, 69.38, 68.88),
 (u'2000-07-06', 9974600.0, 73.25, 73.63, 72.75, 70.0),
 (u'2000-07-07', 9534800.0, 73.94, 76.0, 73.75, 73.06),
 (u'2000-07-10', 7577600.0, 73.13, 75.94, 74.5, 72.63),
 (u'2000-07-11', 6149300.0, 73.19, 74.81, 72.5, 72.44),
 (u'2000-07-12', 5595100.0, 73.38, 74.81, 74.75, 71.44),
 (u'2000-07-13', 8188600.0, 69.44, 73.81, 73.06, 68.69),
 (u'2000-07-14', 6284100.0, 70.75, 71.88, 69.94, 69.5),
 (u'2000-07-17', 6009900.0, 72.38, 73.94, 71.31, 71.19),
 (u'2000-07-18', 6063000.0, 74.86, 76.0, 71.94, 71.75),
 (u'2000-07-19', 6572200.0, 73.44, 74.88, 74.19, 73.06),
 (u'2000-07-20', 5608100.0, 74.06, 74.75, 73.88, 73.63),
 (u'2000-07-21', 15289500.0, 78.0, 79.98, 72.88, 72.75),
 (u'2000-07-24', 8720300.0, 74.75, 80.44, 79.19, 74.5),
 (u'2000-07-25', 5172100.0, 73.63, 76.0, 75.56, 72.25),
 (u'2000-07-26', 9597200.0, 69.38, 75.88, 74.44, 69.13),
 (u'2000-07-27', 13737000.0, 68.5, 71.5, 69.13, 68.25),
 (u'2000-07-28', 8268400.0, 66.38, 69.63, 69.13, 65.13),
 (u'2000-07-31', 6788200.0, 64.94, 67.5, 66.75, 64.75),
 (u'2000-08-01', 9298200.0, 69.0, 69.25, 65.31, 65.0),
 (u'2000-08-02', 7762200.0, 70.31, 71.38, 69.0, 68.06),
 (u'2000-08-03', 5829000.0, 70.19, 71.63, 68.88, 68.88),
 (u'2000-08-04', 5847600.0, 69.13, 71.38, 70.56, 67.56),
 (u'2000-08-07', 7908000.0, 72.13, 72.25, 69.19, 67.81),
 (u'2000-08-08', 6420100.0, 69.5, 72.0, 71.81, 69.34),
 (u'2000-08-09', 5265800.0, 68.94, 70.5, 70.19, 68.88),
 (u'2000-08-10', 4668700.0, 67.94, 69.19, 69.0, 67.25),
 (u'2000-08-11', 4336700.0, 69.69, 69.94, 68.63, 66.75),
 (u'2000-08-14', 3320500.0, 69.44, 69.88, 69.63, 68.06),
 (u'2000-08-15', 5147100.0, 67.75, 69.5, 69.38, 67.13),
 (u'2000-08-16', 4312000.0, 68.13, 69.63, 69.0, 67.94),
 (u'2000-08-17', 5090600.0, 67.81, 69.44, 68.75, 67.63),
 (u'2000-08-18', 5871600.0, 65.88, 67.94, 67.38, 65.81),
 (u'2000-08-21', 4673300.0, 67.25, 68.94, 66.88, 66.38),
 (u'2000-08-22', 5550200.0, 69.06, 69.63, 67.75, 67.69),
 (u'2000-08-23', 7099700.0, 70.56, 71.5, 71.0, 69.13),
 (u'2000-08-24', 6144800.0, 72.63, 73.25, 70.75, 70.75),
 (u'2000-08-25', 6089400.0, 74.63, 75.63, 73.06, 72.94),
 (u'2000-08-28', 4627700.0, 73.75, 76.0, 74.88, 72.88),
 (u'2000-08-29', 5194100.0, 72.13, 74.63, 74.5, 72.0),
 (u'2000-08-30', 4622300.0, 73.06, 73.75, 72.31, 71.75),
 (u'2000-08-31', 7785200.0, 75.81, 76.63, 73.25, 72.69),
 (u'2000-09-01', 4917600.0, 76.44, 76.63, 76.56, 74.19),
 (u'2000-09-05', 7469600.0, 72.5, 76.0, 76.0, 71.88),
 (u'2000-09-06', 9203300.0, 68.06, 73.0, 72.5, 68.0),
 (u'2000-09-07', 7854100.0, 72.0, 73.13, 69.69, 69.63),
 (u'2000-09-08', 8089800.0, 74.94, 76.31, 72.81, 71.19),
 (u'2000-09-11', 6646200.0, 72.25, 74.88, 74.13, 72.0),
 (u'2000-09-12', 4767700.0, 72.75, 74.13, 72.0, 71.38),
 (u'2000-09-13', 5692500.0, 71.94, 72.5, 72.38, 71.25),
 (u'2000-09-14', 21630800.0, 67.44, 71.88, 71.88, 65.19),
 (u'2000-09-15', 12453900.0, 67.63, 69.63, 68.75, 66.63),
 (u'2000-09-18', 5783700.0, 65.19, 68.56, 68.38, 64.94),
 (u'2000-09-19', 6249100.0, 65.69, 67.81, 66.0, 64.13),
 (u'2000-09-20', 5918400.0, 69.13, 69.38, 66.75, 66.0),
 (u'2000-09-21', 4976100.0, 68.44, 69.5, 68.5, 67.31),
 (u'2000-09-22', 7185400.0, 72.06, 72.13, 68.25, 68.25),
 (u'2000-09-25', 6932500.0, 69.69, 73.88, 72.06, 69.13),
 (u'2000-09-26', 5887200.0, 71.56, 72.0, 69.94, 68.94),
 (u'2000-09-27', 5427600.0, 71.38, 71.88, 70.5, 69.69),
 (u'2000-09-28', 7519100.0, 70.25, 71.0, 70.41, 68.5),
 (u'2000-09-29', 5732900.0, 69.83, 71.38, 70.63, 69.13),
 (u'2000-10-02', 8224700.0, 65.75, 70.44, 70.31, 65.13),
 (u'2000-10-03', 5578400.0, 66.75, 69.0, 67.97, 66.5),
 (u'2000-10-04', 8179500.0, 64.44, 67.31, 67.25, 63.5),
 (u'2000-10-05', 4932400.0, 66.63, 67.5, 64.0, 64.0),
 (u'2000-10-06', 6830400.0, 63.06, 67.0, 66.63, 61.5),
 (u'2000-10-09', 3295700.0, 63.19, 64.69, 63.38, 62.0),
 (u'2000-10-10', 7811600.0, 60.69, 63.88, 62.78, 60.63),
 (u'2000-10-11', 7110600.0, 65.69, 67.56, 59.75, 59.5),
 (u'2000-10-12', 10082700.0, 61.88, 65.38, 65.38, 59.94),
 (u'2000-10-13', 4694800.0, 64.88, 65.0, 60.44, 60.38),
 (u'2000-10-16', 7142600.0, 63.81, 66.13, 65.38, 61.81)]