# ...So
We now have a dictionary containing dataframes of FDA action dates and stock price time series. Lets open it up from dill and begin cutting out our feature space.

In [25]:
import dill
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook

In [26]:
company_dataframes = dill.load(open('Prices_and_FDA_Dates.pkl', 'r'))
company_list = company_dataframes.keys()

In [27]:
len(company_list)

155

Lets also open the index price and normalize our prices to that

In [28]:
closing_index = dill.load(open("close_price_stats_frame.pkl", "r"))

In [29]:
closing_index

              CP_mean    CP_stdv
2000-01-03  28.520755  29.266429
2000-01-04  27.095726  28.010693
2000-01-05  27.200238  28.108746
2000-01-06  27.628152  28.330073
2000-01-07  29.792918  31.265757
2000-01-10  31.145792  32.584798
2000-01-11  30.572311  31.646526
2000-01-12  30.334148  31.266784
2000-01-13  31.466492  33.578784
2000-01-14  31.957738  33.724492
2000-01-18  32.202221  33.582964
2000-01-19  33.015082  34.633301
2000-01-20  32.988975  34.218234
2000-01-21  33.786090  35.851089
2000-01-24  32.693828  33.424083
2000-01-25  32.373213  32.494537
2000-01-26  32.735393  33.285954
2000-01-27  31.896262  32.368355
2000-01-28  31.048344  31.475908
2000-01-31  30.364087  30.431774
2000-02-01  30.866361  30.882708
2000-02-02  31.517346  30.713068
2000-02-03  32.445721  32.296095
2000-02-04  32.845410  32.626345
2000-02-07  33.998779  33.973296
2000-02-08  35.735205  35.974416
2000-02-09  35.876426  36.861224
2000-02-10  36.746598  38.961008
2000-02-11  36.855205  38.803426
2000-02-14  37.153066  38.744681
...               ...        ...
2017-09-25  36.620434  58.378476
2017-09-26  36.223549  57.964342
2017-09-27  36.450910  57.874653
2017-09-28  36.553101  57.884602
2017-09-29  36.939750  58.827184
2017-10-02  37.708840  59.760356
2017-10-03  37.612198  59.457180
2017-10-04  37.708201  59.454974
2017-10-05  37.922708  60.149872
2017-10-06  37.741747  60.507914
2017-10-09  37.581088  60.616805
2017-10-10  37.558445  60.369903
2017-10-11  37.505620  59.924750
2017-10-12  37.346869  59.697571
2017-10-13  37.010588  59.715526
2017-10-16  37.164569  59.722113
2017-10-17  37.220095  60.006191
2017-10-18  37.046064  59.626657
2017-10-19  37.086736  59.674743
2017-10-20  35.739289  57.978013
2017-10-23  35.437688  57.313744
2017-10-24  35.134066  56.494231
2017-10-25  34.827383  56.001837
2017-10-26  34.121313  54.955053
2017-10-27  34.261190  54.886424
2017-10-30  34.469775  54.947013
2017-10-31  34.380190  54.549794
2017-11-01  34.186795  54.254104
2017-11-02  34.175675  53.965779
2017-11-03  35.054294  55.231934

[4490 rows x 2 columns]

In [30]:
company_dataframes['NEW'].loc[company_dataframes['NEW']['pdufa?'] == True]

            volume  close  high  open   low  pdufa?
2006-10-06     0.0   11.6  12.8  12.8  11.6    True

In [31]:
testdf = company_dataframes['NEW']

In [32]:
testdf.reset_index(inplace = True)

In [33]:
testdf.loc[testdf['pdufa?']]

           index  volume  close  high  open   low  pdufa?
1699  2006-10-06     0.0   11.6  12.8  12.8  11.6    True

In [34]:
testdf.loc[1699]

index     2006-10-06
volume             0
close           11.6
high            12.8
open            12.8
low             11.6
pdufa?          True
Name: 1699, dtype: object

In [35]:
testdf.loc[1699]['close']

11.6

In [36]:
testind = testdf.index[testdf['pdufa?'] == True]

In [37]:
testind

Int64Index([1699], dtype='int64')

In [38]:
testind[0]

1699

So general idea:
1. iterate through dictionary of dataframes
1. in each dataframe, find each row with a `pdufa`
1. collect the (preceding and following) 120 rows of close prices and volumes
1. return those as an array of close price and volume vectors with the company name and pdufa date as metadata
1. something to the effect of `("Ticker", pdufaDate, (120 preceding close prices and volumes), (120 following close prices and volumes))`

In [39]:
company_dataframes['ABBV'].join(closing_index, how='left')

,volume,close,high,open,low,pdufa?,CP_mean,CP_stdv
2013-01-02,13767900.0,35.1200,35.400,34.92,34.100,False,21.130602,32.316146
2013-01-03,16739300.0,34.8300,35.000,35.00,34.160,False,21.049670,32.232472
2013-01-04,21372100.0,34.3908,34.890,34.62,34.250,False,21.178519,32.324112
2013-01-07,17897100.0,34.4600,35.450,34.15,34.150,False,21.244621,32.371023
2013-01-08,17863300.0,33.7100,34.640,34.29,33.360,False,21.484443,32.265225
2013-01-09,18800400.0,33.9000,33.950,33.61,33.610,False,21.562688,32.741690
2013-01-10,15658100.0,34.0000,34.000,33.66,33.330,False,21.683117,32.958141
2013-01-11,11191500.0,33.8500,33.900,33.59,33.350,False,21.594980,32.800412
2013-01-14,11584900.0,34.0900,34.250,34.01,33.800,False,21.743537,32.765215
2013-01-15,13040200.0,34.6000,34.720,33.71,33.710,False,21.778615,32.603972
2013-01-16,16512700.0,35.5400,35.540,34.47,34.450,False,21.460358,32.409531
2013-01-17,14424800.0,36.4200,36.700,35.75,35.750,False,21.519562,32.464022
2013-01-18,17842200.0,37.3200,37.320,36.43,36.040,False,21.485407,32.315225
2013-01-22,15809700.0,36.4200,37.250,36.98,35.930,False,21.774344,32.739954
2013-01-23,10981600.0,37.8000,37.840,36.91,36.500,False,21.791186,32.688801
2013-01-24,11327100.0,37.4600,38.520,37.79,37.230,False,21.737447,32.842056
2013-01-25,8934600.0,37.6000,37.840,37.52,36.640,False,22.057019,33.152784
2013-01-28,7140100.0,36.8900,37.870,37.65,36.710,False,21.503033,32.640540
2013-01-29,8838500.0,37.3100,37.460,36.71,36.250,False,21.713189,33.093682
2013-01-30,10841800.0,36.9300,37.525,36.81,36.810,False,21.599148,33.123074
2013-01-31,10720700.0,36.6900,36.930,36.84,36.270,False,21.639528,33.058904
2013-02-01,9527500.0,37.1800,37.200,36.84,36.520,False,21.857910,33.537710
2013-02-04,6348000.0,37.2800,37.300,36.64,36.550,False,21.738407,33.126085
2013-02-05,7284400.0,37.2000,37.730,37.42,37.180,False,21.783787,33.355298
2013-02-06,5738900.0,37.1400,37.280,36.96,36.860,False,21.902293,33.388577
2013-02-07,9872500.0,36.4200,37.570,37.57,35.800,False,21.538976,33.057836
2013-02-08,13858700.0,36.2500,36.420,36.37,35.825,False,21.705012,33.394134
2013-02-11,6032100.0,35.8500,36.180,36.13,35.750,False,21.556089,32.332379
2013-02-12,7473800.0,35.4200,35.900,35.77,35.200,False,21.427433,32.422543
2013-02-13,4859800.0,35.2700,35.570,35.42,35.150,False,21.509687,32.646777
...,...,...,...,...,...,...,...,...
2017-09-25,8143384.0,86.5700,87.780,86.92,86.400,False,36.620434,58.378476
2017-09-26,5681763.0,85.3500,86.910,86.35,85.160,False,36.223549,57.964342
2017-09-27,6448814.0,84.7500,85.390,85.35,83.190,False,36.450910,57.874653
2017-09-28,14780327.0,88.9600,90.950,86.67,86.380,False,36.553101,57.884602
2017-09-29,6741247.0,88.8600,89.350,88.69,87.670,False,36.939750,58.827184
2017-10-02,5840957.0,90.3900,90.410,89.74,88.910,False,37.708840,59.760356
2017-10-03,4284211.0,89.7000,90.640,90.44,89.020,False,37.612198,59.457180
2017-10-04,3205853.0,89.9000,90.440,89.52,89.310,False,37.708201,59.454974
2017-10-05,4197283.0,90.1800,90.560,89.69,89.480,False,37.922708,60.149872
2017-10-06,3461787.0,90.4900,91.330,90.20,89.950,False,37.741747,60.507914
2017-10-09,4331482.0,90.7800,91.190,90.57,90.150,False,37.581088,60.616805
2017-10-10,3560210.0,91.1700,91.220,90.71,89.700,False,37.558445,60.369903
2017-10-11,5966473.0,92.3800,92.610,91.47,90.970,False,37.505620,59.924750
2017-10-12,4711620.0,91.4200,91.990,91.77,90.910,False,37.346869,59.697571
2017-10-13,6788902.0,90.6700,91.850,91.41,90.540,False,37.010588,59.715526
2017-10-16,4628445.0,91.0400,91.990,91.01,90.560,False,37.164569,59.722113
2017-10-17,5239293.0,92.1700,92.780,91.09,90.950,False,37.220095,60.006191
2017-10-18,10969313.0,96.0400,96.440,92.35,92.200,False,37.046064,59.626657
2017-10-19,9137443.0,96.4800,96.620,95.50,94.510,False,37.086736,59.674743
2017-10-20,6773839.0,96.1000,98.260,96.78,94.890,False,35.739289,57.978013
2017-10-23,4465871.0,94.5100,96.000,95.93,94.450,False,35.437688,57.313744
2017-10-24,8914125.0,91.6900,94.140,94.00,90.770,False,35.134066,56.494231
2017-10-25,5571612.0,91.7700,92.080,91.78,90.730,False,34.827383,56.001837
2017-10-26,10267227.0,89.5600,91.860,91.86,85.240,False,34.121313,54.955053
2017-10-27,9016009.0,91.9300,94.970,92.70,90.750,False,34.261190,54.886424
2017-10-30,6510153.0,90.9600,92.060,91.70,88.910,False,34.469775,54.947013
2017-10-31,7032912.0,90.2500,91.820,90.88,90.040,False,34.380190,54.549794
2017-11-01,7028543.0,92.4400,93.340,90.78,90.270,False,34.186795,54.254104
2017-11-02,4956746.0,91.0200,92.340,92.08,90.190,False,34.175675,53.965779
2017-11-03,1887431.0,92.4400,92.540,91.30,90.910,False,35.054294,55.231934

In [40]:
data = []
for company in tqdm_notebook(company_list):
    df = company_dataframes[company].reset_index()
    pdufa_dates = df.index[df['pdufa?']].tolist()
    if len(pdufa_dates) > 0:
        for date in pdufa_dates:
            pRange = range(date-120, date)
            fRange = range(date, date+121)
            pCloses, pVolumes, fCloses, fVolumes = [], [], [], []
            for i in pRange:
                try:
                    pCloses.append(df.loc[i]['close'])
                    pVolumes.append(df.loc[i]['volume'])
                except:
                    pCloses.append(None)
                    pVolumes.append(None)
            for i in fRange:
                try:
                    fCloses.append(df.loc[i]['close'])
                    fVolumes.append(df.loc[i]['volume'])
                except:
                    fCloses.append(None)
                    fVolumes.append(None)
            data.append((company, df.loc[date]['index'], (pCloses, pVolumes), (fCloses, fVolumes)))

In [17]:
dill.dump(data, open('stock_price_training_slices.pkl', 'w'))

So theres our data points, stored as slices of the stock price/volume histories 120 days prior to an FDA event. `268*120*2 = 64320` data points in total. Time for some signal processing.

I know this could be done far more elegantly, but I need an adequate solution _yesterday_, not a perfect one next week.

# Part Two

Now I've made a closing price index, so lets normalize the prices to that. I'm also shortening the slices from [120 days prior to day of], to [120 days prior to 7 days prior] for the eventual web facing app. 

Obviously we no longer need following slices for plots, as the data has been annotated.

In [18]:
norm_data = []
for company in tqdm_notebook(company_list):
    df = company_dataframes[company].join(closing_index, how='left').reset_index()
    pdufa_dates = df.index[df['pdufa?']].tolist()
    if len(pdufa_dates) > 0:
        for date in pdufa_dates:
            pRange = range(date-120, date-7)
            pCloses, pVolumes = [], []
            for i in pRange:
                try:
                    close_price = df.loc[i]['close']
                    volume = df.loc[i]['volume']
                    mean_price = df.loc[i]['CP_mean']
                    stdv_price = df.loc[i]['CP_stdv']
                    pCloses.append(( df.loc[i]['index'],(close_price-mean_price)/(stdv_price) ))
                    pVolumes.append(( df.loc[i]['index'], volume ))
                except:
                    pCloses.append(None)
                    pVolumes.append(None)
            norm_data.append((company, df.loc[date]['index'], (pCloses, pVolumes)))

In [19]:
norm_data[:2]

[('AAAP',
  '2016-06-01',
  ([('2015-12-08', -0.12174738784081005),
    ('2015-12-09', -0.11649757460863203),
    ('2015-12-10', -0.12202718753675167),
    ('2015-12-11', -0.10701232720700836),
    ('2015-12-14', -0.098575729382038818),
    ('2015-12-15', -0.1192150549485034),
    ('2015-12-16', -0.13214151674067587),
    ('2015-12-17', -0.11797484551305558),
    ('2015-12-18', -0.082288199923163566),
    ('2015-12-21', -0.1143065235110669),
    ('2015-12-22', -0.11929035332875815),
    ('2015-12-23', -0.11892191948170955),
    ('2015-12-24', -0.12568038792527547),
    ('2015-12-28', -0.12710162195805946),
    ('2015-12-29', -0.12395220359326434),
    ('2015-12-30', -0.1227671908381152),
    ('2015-12-31', -0.092712355058081633),
    ('2016-01-04', -0.083297778426778893),
    ('2016-01-05', -0.082662390476770778),
    ('2016-01-06', -0.090411169273986777),
    ('2016-01-07', -0.066076615447791726),
    ('2016-01-08', -0.090436371473833085),
    ('2016-01-11', -0.086162818845528177),
    ('2016-01-12', -0.13408592795608898),
    ('2016-01-13', -0.091785042591575619),
    ('2016-01-14', -0.12446081332632397),
    ('2016-01-15', -0.10579387547911373),
    ('2016-01-19', -0.084261111022572513),
    ('2016-01-20', -0.075454238566828313),
    ('2016-01-21', -0.072115745708099421),
    ('2016-01-22', -0.066044114655135239),
    ('2016-01-25', -0.11694274320792392),
    ('2016-01-26', -0.10622732599259678),
    ('2016-01-27', -0.091626651628569672),
    ('2016-01-28', -0.094566589786288124),
    ('2016-01-29', -0.09096207655742361),
    ('2016-02-01', -0.086236855778255864),
    ('2016-02-02', -0.079347879869638024),
    ('2016-02-03', -0.071516656047982921),
    ('2016-02-04', -0.052659607766922321),
    ('2016-02-05', -0.049486248390720244),
    ('2016-02-08', -0.049130616777635548),
    ('2016-02-09', -0.057923222353312716),
    ('2016-02-10', -0.038317305595650435),
    ('2016-02-11', -0.045915823142258512),
    ('2016-02-12', -0.052543652590076588),
    ('2016-02-16', -0.037280625407747348),
    ('2016-02-17', -0.038312381580170286),
    ('2016-02-18', 0.051178633651171604),
    ('2016-02-19', 0.05278173504753883),
    ('2016-02-22', 0.068751969859325524),
    ('2016-02-23', 0.062053548707741643),
    ('2016-02-24', 0.089539739924641773),
    ('2016-02-25', 0.10152273406653819),
    ('2016-02-26', 0.097812047129828938),
    ('2016-02-29', 0.12421075636218368),
    ('2016-03-01', 0.084840256774462497),
    ('2016-03-02', 0.072529171424669428),
    ('2016-03-03', 0.096293235286023571),
    ('2016-03-04', 0.099013328214318116),
    ('2016-03-07', 0.099861130775953294),
    ('2016-03-08', 0.12007444896962188),
    ('2016-03-09', 0.1382105236649443),
    ('2016-03-10', 0.12197638818057931),
    ('2016-03-11', 0.076146862337189453),
    ('2016-03-14', 0.10145655578236173),
    ('2016-03-15', 0.15920145274176414),
    ('2016-03-16', 0.15991721921053298),
    ('2016-03-17', 0.17902674905175031),
    ('2016-03-18', 0.23349842104040314),
    ('2016-03-21', 0.2248820111959991),
    ('2016-03-22', 0.18469978910049914),
    ('2016-03-23', 0.17687173717259924),
    ('2016-03-24', 0.15997633650090329),
    ('2016-03-28', 0.13655562895306406),
    ('2016-03-29', 0.14977629680888546),
    ('2016-03-30', 0.19422502166035149),
    ('2016-03-31', 0.16222665158100766),
    ('2016-04-01', 0.13779767357406447),
    ('2016-04-04', 0.14351023256524367),
    ('2016-04-05', 0.11809317609660146),
    ('2016-04-06', 0.11873878292471497),
    ('2016-04-07', 0.088886296722195224),
    ('2016-04-08', 0.11491132703504858),
    ('2016-04-11', 0.13133544604052008),
    ('2016-04-12', 0.12253398951366072),
    ('2016-04-13', 0.095172225857431278),
    ('2016-04-14', 0.085247011642741122),
    ('2016-04-15', 0.092766895719989168),
    ('2016-04-18', 0.075747300196769785),
    ('2016-04-19', 0.082434614767107076),
    ('2016-04-20', 0.092133543255694575),
    ('2016-04-21', 0.080216405203318811),
    ('2016-04-22', 0.06026919560220844),
    ('2016-04-25', 0.045373539384161041),
    ('2016-04-26', 0.094725646443200792),
    ('2016-04-27', 0.092941731331399102),
    ('2016-04-28', 0.11993823687306239),
    ('2016-04-29', 0.11824282317032522),
    ('2016-05-02', 0.090658024633296252),
    ('2016-05-03', 0.095216467531964596),
    ('2016-05-04', 0.12665767027156699),
    ('2016-05-05', 0.10101093708931214),
    ('2016-05-06', 0.05431660118830766),
    ('2016-05-09', 0.10122170244001864),
    ('2016-05-10', 0.13150025752616443),
    ('2016-05-11', 0.11254942753264882),
    ('2016-05-12', 0.06650087159798071),
    ('2016-05-13', 0.012096881002209896),
    ('2016-05-16', -0.004004856062752922),
    ('2016-05-17', -0.010143964219735372),
    ('2016-05-18', -0.017694700723375284),
    ('2016-05-19', -0.01427800016699165)],
   [('2015-12-08', 130370.0),
    ('2015-12-09', 53597.0),
    ('2015-12-10', 40949.0),
    ('2015-12-11', 39314.0),
    ('2015-12-14', 27640.0),
    ('2015-12-15', 23286.0),
    ('2015-12-16', 19505.0),
    ('2015-12-17', 28078.0),
    ('2015-12-18', 95548.0),
    ('2015-12-21', 25596.0),
    ('2015-12-22', 23077.0),
    ('2015-12-23', 15462.0),
    ('2015-12-24', 11598.0),
    ('2015-12-28', 31204.0),
    ('2015-12-29', 17157.0),
    ('2015-12-30', 14225.0),
    ('2015-12-31', 46824.0),
    ('2016-01-04', 62424.0),
    ('2016-01-05', 18270.0),
    ('2016-01-06', 11958.0),
    ('2016-01-07', 16948.0),
    ('2016-01-08', 122121.0),
    ('2016-01-11', 132093.0),
    ('2016-01-12', 78380.0),
    ('2016-01-13', 32313.0),
    ('2016-01-14', 27425.0),
    ('2016-01-15', 41271.0),
    ('2016-01-19', 62733.0),
    ('2016-01-20', 31875.0),
    ('2016-01-21', 45164.0),
    ('2016-01-22', 27341.0),
    ('2016-01-25', 47699.0),
    ('2016-01-26', 53747.0),
    ('2016-01-27', 29470.0),
    ('2016-01-28', 310937.0),
    ('2016-01-29', 60790.0),
    ('2016-02-01', 74654.0),
    ('2016-02-02', 55448.0),
    ('2016-02-03', 51361.0),
    ('2016-02-04', 12599.0),
    ('2016-02-05', 14698.0),
    ('2016-02-08', 14285.0),
    ('2016-02-09', 23039.0),
    ('2016-02-10', 23674.0),
    ('2016-02-11', 13569.0),
    ('2016-02-12', 36378.0),
    ('2016-02-16', 23836.0),
    ('2016-02-17', 118221.0),
    ('2016-02-18', 122521.0),
    ('2016-02-19', 152768.0),
    ('2016-02-22', 86390.0),
    ('2016-02-23', 77749.0),
    ('2016-02-24', 146269.0),
    ('2016-02-25', 41730.0),
    ('2016-02-26', 40211.0),
    ('2016-02-29', 28145.0),
    ('2016-03-01', 46574.0),
    ('2016-03-02', 26717.0),
    ('2016-03-03', 21509.0),
    ('2016-03-04', 24192.0),
    ('2016-03-07', 26860.0),
    ('2016-03-08', 93342.0),
    ('2016-03-09', 19384.0),
    ('2016-03-10', 113775.0),
    ('2016-03-11', 24586.0),
    ('2016-03-14', 46949.0),
    ('2016-03-15', 127489.0),
    ('2016-03-16', 88150.0),
    ('2016-03-17', 32327.0),
    ('2016-03-18', 37268.0),
    ('2016-03-21', 28293.0),
    ('2016-03-22', 19461.0),
    ('2016-03-23', 65644.0),
    ('2016-03-24', 36142.0),
    ('2016-03-28', 26680.0),
    ('2016-03-29', 31452.0),
    ('2016-03-30', 14816.0),
    ('2016-03-31', 29066.0),
    ('2016-04-01', 23541.0),
    ('2016-04-04', 9579.0),
    ('2016-04-05', 230484.0),
    ('2016-04-06', 13937.0),
    ('2016-04-07', 111566.0),
    ('2016-04-08', 28087.0),
    ('2016-04-11', 10564.0),
    ('2016-04-12', 54248.0),
    ('2016-04-13', 22748.0),
    ('2016-04-14', 14574.0),
    ('2016-04-15', 17047.0),
    ('2016-04-18', 9756.0),
    ('2016-04-19', 11896.0),
    ('2016-04-20', 16289.0),
    ('2016-04-21', 6766.0),
    ('2016-04-22', 114634.0),
    ('2016-04-25', 32954.0),
    ('2016-04-26', 7607.0),
    ('2016-04-27', 17379.0),
    ('2016-04-28', 34829.0),
    ('2016-04-29', 7540.0),
    ('2016-05-02', 7656.0),
    ('2016-05-03', 23498.0),
    ('2016-05-04', 10737.0),
    ('2016-05-05', 16827.0),
    ('2016-05-06', 27003.0),
    ('2016-05-09', 14868.0),
    ('2016-05-10', 36788.0),
    ('2016-05-11', 62768.0),
    ('2016-05-12', 315850.0),
    ('2016-05-13', 114425.0),
    ('2016-05-16', 77626.0),
    ('2016-05-17', 74518.0),
    ('2016-05-18', 35565.0),
    ('2016-05-19', 27271.0)])),
 ('AAAP',
  '2016-12-28',
  ([('2016-07-08', 0.014885933371596216),
    ('2016-07-11', 0.02128387057681105),
    ('2016-07-12', 0.029314877788186443),
    ('2016-07-13', 0.035163695579531015),
    ('2016-07-14', 0.025995264536175428),
    ('2016-07-15', 0.01360270487619415),
    ('2016-07-18', 0.00750791674990806),
    ('2016-07-19', 0.024145305653978585),
    ('2016-07-20', 0.010529174085141176),
    ('2016-07-21', 0.0055251002199500484),
    ('2016-07-22', -0.00046524188858836627),
    ('2016-07-25', 0.0093846988821145016),
    ('2016-07-26', 0.0054817906097046152),
    ('2016-07-27', -0.013281264431114541),
    ('2016-07-28', -0.012514398105275625),
    ('2016-07-29', -0.0040469487833181272),
    ('2016-08-01', -0.013063490905721512),
    ('2016-08-02', -0.018837668189119278),
    ('2016-08-03', -0.0034746248786683429),
    ('2016-08-04', -0.0046992901892257211),
    ('2016-08-05', -0.023035820344712479),
    ('2016-08-08', -0.010295116987840792),
    ('2016-08-09', -0.00025489861275793016),
    ('2016-08-10', 0.011401570414901748),
    ('2016-08-11', 0.013920114904969335),
    ('2016-08-12', 0.00049326334438533456),
    ('2016-08-15', 0.0011895782002057239),
    ('2016-08-16', 0.012094672707823596),
    ('2016-08-17', 0.0049551182936337793),
    ('2016-08-18', 0.0097700878802510823),
    ('2016-08-19', 0.018206597759998871),
    ('2016-08-22', 0.015759992777729569),
    ('2016-08-23', 0.022548219684173611),
    ('2016-08-24', 0.057174573506141239),
    ('2016-08-25', 0.046977088879031827),
    ('2016-08-26', 0.037892785713304185),
    ('2016-08-29', 0.062921960585718931),
    ('2016-08-30', 0.071299791809027346),
    ('2016-08-31', 0.074248257272908805),
    ('2016-09-01', 0.075614109728085049),
    ('2016-09-02', 0.07953763590061444),
    ('2016-09-06', 0.074519441923145288),
    ('2016-09-07', 0.071114959446599443),
    ('2016-09-08', 0.062627604045849564),
    ('2016-09-09', 0.079306629383826113),
    ('2016-09-12', 0.056384894587550277),
    ('2016-09-13', 0.066627113140471234),
    ('2016-09-14', 0.052456049021100043),
    ('2016-09-15', 0.05990494141141877),
    ('2016-09-16', 0.085206829365244124),
    ('2016-09-19', 0.083377672647875808),
    ('2016-09-20', 0.11027684055144137),
    ('2016-09-21', 0.098532267057670292),
    ('2016-09-22', 0.10635662506198874),
    ('2016-09-23', 0.10580098004567023),
    ('2016-09-26', 0.11000204717529449),
    ('2016-09-27', 0.098138449773050251),
    ('2016-09-28', 0.10434358012041095),
    ('2016-09-29', 0.12565426825460249),
    ('2016-09-30', 0.11166692743253788),
    ('2016-10-03', 0.10437782528842766),
    ('2016-10-04', 0.11272432779857071),
    ('2016-10-05', 0.12654053562577183),
    ('2016-10-06', 0.13195271065259137),
    ('2016-10-07', 0.14240953401436462),
    ('2016-10-10', 0.12547345627470591),
    ('2016-10-11', 0.12834895849241118),
    ('2016-10-12', 0.14564928367013638),
    ('2016-10-13', 0.15204426361171283),
    ('2016-10-14', 0.16712689039570897),
    ('2016-10-17', 0.16948041684113829),
    ('2016-10-18', 0.16946536985968305),
    ('2016-10-19', 0.17232650161804056),
    ('2016-10-20', 0.16620700344851994),
    ('2016-10-21', 0.16629474624040003),
    ('2016-10-24', 0.18375108757551789),
    ('2016-10-25', 0.1794053798907938),
    ('2016-10-26', 0.18833002850812705),
    ('2016-10-27', 0.16602620458015679),
    ('2016-10-28', 0.15314279043494369),
    ('2016-10-31', 0.16045188775687805),
    ('2016-11-01', 0.17476987830339627),
    ('2016-11-02', 0.17275109841245825),
    ('2016-11-03', 0.17929739427625213),
    ('2016-11-04', 0.16341575649703705),
    ('2016-11-07', 0.14596917154104283),
    ('2016-11-08', 0.15623465218000082),
    ('2016-11-09', 0.098190593478985858),
    ('2016-11-10', 0.090627993165405138),
    ('2016-11-11', 0.07899000028625143),
    ('2016-11-14', 0.06956939459917949),
    ('2016-11-15', 0.077819654924265416),
    ('2016-11-16', 0.094469045996980375),
    ('2016-11-17', 0.073794274458403475),
    ('2016-11-18', 0.080665621596876444),
    ('2016-11-21', 0.074520643291991984),
    ('2016-11-22', 0.073977214471726171),
    ('2016-11-23', 0.0653160762568923),
    ('2016-11-25', 0.035967278243011346),
    ('2016-11-28', -0.012573552521564436),
    ('2016-11-29', -0.032996582124853548),
    ('2016-11-30', -0.023935683435540055),
    ('2016-12-01', -0.0086885725711509775),
    ('2016-12-02', -0.0085057804788739554),
    ('2016-12-05', -0.009168137833508767),
    ('2016-12-06', -0.015140854019869953),
    ('2016-12-07', 0.0058568402397507126),
    ('2016-12-08', -0.002331446566450924),
    ('2016-12-09', 0.0034562373193123682),
    ('2016-12-12', -0.01746395106081753),
    ('2016-12-13', -0.048791917264013752),
    ('2016-12-14', -0.045592780548518945),
    ('2016-12-15', -0.056289582502022435)],
   [('2016-07-08', 7681.0),
    ('2016-07-11', 16825.0),
    ('2016-07-12', 22470.0),
    ('2016-07-13', 9920.0),
    ('2016-07-14', 215010.0),
    ('2016-07-15', 14297.0),
    ('2016-07-18', 40818.0),
    ('2016-07-19', 9200.0),
    ('2016-07-20', 24978.0),
    ('2016-07-21', 16648.0),
    ('2016-07-22', 17997.0),
    ('2016-07-25', 162025.0),
    ('2016-07-26', 68652.0),
    ('2016-07-27', 68800.0),
    ('2016-07-28', 124551.0),
    ('2016-07-29', 42982.0),
    ('2016-08-01', 64651.0),
    ('2016-08-02', 26650.0),
    ('2016-08-03', 77126.0),
    ('2016-08-04', 72364.0),
    ('2016-08-05', 42418.0),
    ('2016-08-08', 17935.0),
    ('2016-08-09', 23444.0),
    ('2016-08-10', 26033.0),
    ('2016-08-11', 19946.0),
    ('2016-08-12', 16662.0),
    ('2016-08-15', 14908.0),
    ('2016-08-16', 17065.0),
    ('2016-08-17', 20566.0),
    ('2016-08-18', 7194.0),
    ('2016-08-19', 20818.0),
    ('2016-08-22', 17692.0),
    ('2016-08-23', 43839.0),
    ('2016-08-24', 180495.0),
    ('2016-08-25', 167181.0),
    ('2016-08-26', 43463.0),
    ('2016-08-29', 24245.0),
    ('2016-08-30', 37682.0),
    ('2016-08-31', 39478.0),
    ('2016-09-01', 40396.0),
    ('2016-09-02', 115987.0),
    ('2016-09-06', 34410.0),
    ('2016-09-07', 32374.0),
    ('2016-09-08', 43435.0),
    ('2016-09-09', 32179.0),
    ('2016-09-12', 27614.0),
    ('2016-09-13', 57526.0),
    ('2016-09-14', 37610.0),
    ('2016-09-15', 40640.0),
    ('2016-09-16', 124992.0),
    ('2016-09-19', 94193.0),
    ('2016-09-20', 114745.0),
    ('2016-09-21', 54702.0),
    ('2016-09-22', 60095.0),
    ('2016-09-23', 36079.0),
    ('2016-09-26', 26588.0),
    ('2016-09-27', 34857.0),
    ('2016-09-28', 117630.0),
    ('2016-09-29', 102451.0),
    ('2016-09-30', 63342.0),
    ('2016-10-03', 30597.0),
    ('2016-10-04', 31680.0),
    ('2016-10-05', 174200.0),
    ('2016-10-06', 2188942.0),
    ('2016-10-07', 311749.0),
    ('2016-10-10', 67957.0),
    ('2016-10-11', 108894.0),
    ('2016-10-12', 68475.0),
    ('2016-10-13', 52087.0),
    ('2016-10-14', 32330.0),
    ('2016-10-17', 189722.0),
    ('2016-10-18', 102291.0),
    ('2016-10-19', 46409.0),
    ('2016-10-20', 29888.0),
    ('2016-10-21', 52628.0),
    ('2016-10-24', 68941.0),
    ('2016-10-25', 447448.0),
    ('2016-10-26', 34987.0),
    ('2016-10-27', 51472.0),
    ('2016-10-28', 44942.0),
    ('2016-10-31', 70308.0),
    ('2016-11-01', 83297.0),
    ('2016-11-02', 52075.0),
    ('2016-11-03', 50813.0),
    ('2016-11-04', 52501.0),
    ('2016-11-07', 118422.0),
    ('2016-11-08', 72394.0),
    ('2016-11-09', 106930.0),
    ('2016-11-10', 125356.0),
    ('2016-11-11', 40364.0),
    ('2016-11-14', 42400.0),
    ('2016-11-15', 68308.0),
    ('2016-11-16', 49538.0),
    ('2016-11-17', 61471.0),
    ('2016-11-18', 10231.0),
    ('2016-11-21', 51579.0),
    ('2016-11-22', 31640.0),
    ('2016-11-23', 101472.0),
    ('2016-11-25', 115995.0),
    ('2016-11-28', 267238.0),
    ('2016-11-29', 217631.0),
    ('2016-11-30', 100649.0),
    ('2016-12-01', 122651.0),
    ('2016-12-02', 100155.0),
    ('2016-12-05', 100519.0),
    ('2016-12-06', 66641.0),
    ('2016-12-07', 120812.0),
    ('2016-12-08', 62898.0),
    ('2016-12-09', 68737.0),
    ('2016-12-12', 89033.0),
    ('2016-12-13', 204668.0),
    ('2016-12-14', 179892.0),
    ('2016-12-15', 63278.0)]))]

That looks normalized to me, lets rejoin the annotations to the data and begin feature extraction.

In [20]:
scores = [line.split() for line in open("score_sheet_complete.txt", "r").readlines()]

In [21]:
scores[:2]

[['AAAP', '2016-06-01', '1'], ['AAAP', '2016-12-28', '1']]

In [22]:
norm_data_annotated = []
for datum, score in zip(norm_data, scores):
    if datum[0] == score [0] and datum [1] == score[1]:
        norm_data_annotated.append((datum[0], datum[1], 
                                    score[2], datum[2] ))
    else:
        print "whoops theres a mismatch"

In [23]:
norm_data_annotated[:2]

[('AAAP',
  '2016-06-01',
  '1',
  ([('2015-12-08', -0.12174738784081005),
    ('2015-12-09', -0.11649757460863203),
    ('2015-12-10', -0.12202718753675167),
    ('2015-12-11', -0.10701232720700836),
    ('2015-12-14', -0.098575729382038818),
    ('2015-12-15', -0.1192150549485034),
    ('2015-12-16', -0.13214151674067587),
    ('2015-12-17', -0.11797484551305558),
    ('2015-12-18', -0.082288199923163566),
    ('2015-12-21', -0.1143065235110669),
    ('2015-12-22', -0.11929035332875815),
    ('2015-12-23', -0.11892191948170955),
    ('2015-12-24', -0.12568038792527547),
    ('2015-12-28', -0.12710162195805946),
    ('2015-12-29', -0.12395220359326434),
    ('2015-12-30', -0.1227671908381152),
    ('2015-12-31', -0.092712355058081633),
    ('2016-01-04', -0.083297778426778893),
    ('2016-01-05', -0.082662390476770778),
    ('2016-01-06', -0.090411169273986777),
    ('2016-01-07', -0.066076615447791726),
    ('2016-01-08', -0.090436371473833085),
    ('2016-01-11', -0.086162818845528177),
    ('2016-01-12', -0.13408592795608898),
    ('2016-01-13', -0.091785042591575619),
    ('2016-01-14', -0.12446081332632397),
    ('2016-01-15', -0.10579387547911373),
    ('2016-01-19', -0.084261111022572513),
    ('2016-01-20', -0.075454238566828313),
    ('2016-01-21', -0.072115745708099421),
    ('2016-01-22', -0.066044114655135239),
    ('2016-01-25', -0.11694274320792392),
    ('2016-01-26', -0.10622732599259678),
    ('2016-01-27', -0.091626651628569672),
    ('2016-01-28', -0.094566589786288124),
    ('2016-01-29', -0.09096207655742361),
    ('2016-02-01', -0.086236855778255864),
    ('2016-02-02', -0.079347879869638024),
    ('2016-02-03', -0.071516656047982921),
    ('2016-02-04', -0.052659607766922321),
    ('2016-02-05', -0.049486248390720244),
    ('2016-02-08', -0.049130616777635548),
    ('2016-02-09', -0.057923222353312716),
    ('2016-02-10', -0.038317305595650435),
    ('2016-02-11', -0.045915823142258512),
    ('2016-02-12', -0.052543652590076588),
    ('2016-02-16', -0.037280625407747348),
    ('2016-02-17', -0.038312381580170286),
    ('2016-02-18', 0.051178633651171604),
    ('2016-02-19', 0.05278173504753883),
    ('2016-02-22', 0.068751969859325524),
    ('2016-02-23', 0.062053548707741643),
    ('2016-02-24', 0.089539739924641773),
    ('2016-02-25', 0.10152273406653819),
    ('2016-02-26', 0.097812047129828938),
    ('2016-02-29', 0.12421075636218368),
    ('2016-03-01', 0.084840256774462497),
    ('2016-03-02', 0.072529171424669428),
    ('2016-03-03', 0.096293235286023571),
    ('2016-03-04', 0.099013328214318116),
    ('2016-03-07', 0.099861130775953294),
    ('2016-03-08', 0.12007444896962188),
    ('2016-03-09', 0.1382105236649443),
    ('2016-03-10', 0.12197638818057931),
    ('2016-03-11', 0.076146862337189453),
    ('2016-03-14', 0.10145655578236173),
    ('2016-03-15', 0.15920145274176414),
    ('2016-03-16', 0.15991721921053298),
    ('2016-03-17', 0.17902674905175031),
    ('2016-03-18', 0.23349842104040314),
    ('2016-03-21', 0.2248820111959991),
    ('2016-03-22', 0.18469978910049914),
    ('2016-03-23', 0.17687173717259924),
    ('2016-03-24', 0.15997633650090329),
    ('2016-03-28', 0.13655562895306406),
    ('2016-03-29', 0.14977629680888546),
    ('2016-03-30', 0.19422502166035149),
    ('2016-03-31', 0.16222665158100766),
    ('2016-04-01', 0.13779767357406447),
    ('2016-04-04', 0.14351023256524367),
    ('2016-04-05', 0.11809317609660146),
    ('2016-04-06', 0.11873878292471497),
    ('2016-04-07', 0.088886296722195224),
    ('2016-04-08', 0.11491132703504858),
    ('2016-04-11', 0.13133544604052008),
    ('2016-04-12', 0.12253398951366072),
    ('2016-04-13', 0.095172225857431278),
    ('2016-04-14', 0.085247011642741122),
    ('2016-04-15', 0.092766895719989168),
    ('2016-04-18', 0.075747300196769785),
    ('2016-04-19', 0.082434614767107076),
    ('2016-04-20', 0.092133543255694575),
    ('2016-04-21', 0.080216405203318811),
    ('2016-04-22', 0.06026919560220844),
    ('2016-04-25', 0.045373539384161041),
    ('2016-04-26', 0.094725646443200792),
    ('2016-04-27', 0.092941731331399102),
    ('2016-04-28', 0.11993823687306239),
    ('2016-04-29', 0.11824282317032522),
    ('2016-05-02', 0.090658024633296252),
    ('2016-05-03', 0.095216467531964596),
    ('2016-05-04', 0.12665767027156699),
    ('2016-05-05', 0.10101093708931214),
    ('2016-05-06', 0.05431660118830766),
    ('2016-05-09', 0.10122170244001864),
    ('2016-05-10', 0.13150025752616443),
    ('2016-05-11', 0.11254942753264882),
    ('2016-05-12', 0.06650087159798071),
    ('2016-05-13', 0.012096881002209896),
    ('2016-05-16', -0.004004856062752922),
    ('2016-05-17', -0.010143964219735372),
    ('2016-05-18', -0.017694700723375284),
    ('2016-05-19', -0.01427800016699165)],
   [('2015-12-08', 130370.0),
    ('2015-12-09', 53597.0),
    ('2015-12-10', 40949.0),
    ('2015-12-11', 39314.0),
    ('2015-12-14', 27640.0),
    ('2015-12-15', 23286.0),
    ('2015-12-16', 19505.0),
    ('2015-12-17', 28078.0),
    ('2015-12-18', 95548.0),
    ('2015-12-21', 25596.0),
    ('2015-12-22', 23077.0),
    ('2015-12-23', 15462.0),
    ('2015-12-24', 11598.0),
    ('2015-12-28', 31204.0),
    ('2015-12-29', 17157.0),
    ('2015-12-30', 14225.0),
    ('2015-12-31', 46824.0),
    ('2016-01-04', 62424.0),
    ('2016-01-05', 18270.0),
    ('2016-01-06', 11958.0),
    ('2016-01-07', 16948.0),
    ('2016-01-08', 122121.0),
    ('2016-01-11', 132093.0),
    ('2016-01-12', 78380.0),
    ('2016-01-13', 32313.0),
    ('2016-01-14', 27425.0),
    ('2016-01-15', 41271.0),
    ('2016-01-19', 62733.0),
    ('2016-01-20', 31875.0),
    ('2016-01-21', 45164.0),
    ('2016-01-22', 27341.0),
    ('2016-01-25', 47699.0),
    ('2016-01-26', 53747.0),
    ('2016-01-27', 29470.0),
    ('2016-01-28', 310937.0),
    ('2016-01-29', 60790.0),
    ('2016-02-01', 74654.0),
    ('2016-02-02', 55448.0),
    ('2016-02-03', 51361.0),
    ('2016-02-04', 12599.0),
    ('2016-02-05', 14698.0),
    ('2016-02-08', 14285.0),
    ('2016-02-09', 23039.0),
    ('2016-02-10', 23674.0),
    ('2016-02-11', 13569.0),
    ('2016-02-12', 36378.0),
    ('2016-02-16', 23836.0),
    ('2016-02-17', 118221.0),
    ('2016-02-18', 122521.0),
    ('2016-02-19', 152768.0),
    ('2016-02-22', 86390.0),
    ('2016-02-23', 77749.0),
    ('2016-02-24', 146269.0),
    ('2016-02-25', 41730.0),
    ('2016-02-26', 40211.0),
    ('2016-02-29', 28145.0),
    ('2016-03-01', 46574.0),
    ('2016-03-02', 26717.0),
    ('2016-03-03', 21509.0),
    ('2016-03-04', 24192.0),
    ('2016-03-07', 26860.0),
    ('2016-03-08', 93342.0),
    ('2016-03-09', 19384.0),
    ('2016-03-10', 113775.0),
    ('2016-03-11', 24586.0),
    ('2016-03-14', 46949.0),
    ('2016-03-15', 127489.0),
    ('2016-03-16', 88150.0),
    ('2016-03-17', 32327.0),
    ('2016-03-18', 37268.0),
    ('2016-03-21', 28293.0),
    ('2016-03-22', 19461.0),
    ('2016-03-23', 65644.0),
    ('2016-03-24', 36142.0),
    ('2016-03-28', 26680.0),
    ('2016-03-29', 31452.0),
    ('2016-03-30', 14816.0),
    ('2016-03-31', 29066.0),
    ('2016-04-01', 23541.0),
    ('2016-04-04', 9579.0),
    ('2016-04-05', 230484.0),
    ('2016-04-06', 13937.0),
    ('2016-04-07', 111566.0),
    ('2016-04-08', 28087.0),
    ('2016-04-11', 10564.0),
    ('2016-04-12', 54248.0),
    ('2016-04-13', 22748.0),
    ('2016-04-14', 14574.0),
    ('2016-04-15', 17047.0),
    ('2016-04-18', 9756.0),
    ('2016-04-19', 11896.0),
    ('2016-04-20', 16289.0),
    ('2016-04-21', 6766.0),
    ('2016-04-22', 114634.0),
    ('2016-04-25', 32954.0),
    ('2016-04-26', 7607.0),
    ('2016-04-27', 17379.0),
    ('2016-04-28', 34829.0),
    ('2016-04-29', 7540.0),
    ('2016-05-02', 7656.0),
    ('2016-05-03', 23498.0),
    ('2016-05-04', 10737.0),
    ('2016-05-05', 16827.0),
    ('2016-05-06', 27003.0),
    ('2016-05-09', 14868.0),
    ('2016-05-10', 36788.0),
    ('2016-05-11', 62768.0),
    ('2016-05-12', 315850.0),
    ('2016-05-13', 114425.0),
    ('2016-05-16', 77626.0),
    ('2016-05-17', 74518.0),
    ('2016-05-18', 35565.0),
    ('2016-05-19', 27271.0)])),
 ('AAAP',
  '2016-12-28',
  '1',
  ([('2016-07-08', 0.014885933371596216),
    ('2016-07-11', 0.02128387057681105),
    ('2016-07-12', 0.029314877788186443),
    ('2016-07-13', 0.035163695579531015),
    ('2016-07-14', 0.025995264536175428),
    ('2016-07-15', 0.01360270487619415),
    ('2016-07-18', 0.00750791674990806),
    ('2016-07-19', 0.024145305653978585),
    ('2016-07-20', 0.010529174085141176),
    ('2016-07-21', 0.0055251002199500484),
    ('2016-07-22', -0.00046524188858836627),
    ('2016-07-25', 0.0093846988821145016),
    ('2016-07-26', 0.0054817906097046152),
    ('2016-07-27', -0.013281264431114541),
    ('2016-07-28', -0.012514398105275625),
    ('2016-07-29', -0.0040469487833181272),
    ('2016-08-01', -0.013063490905721512),
    ('2016-08-02', -0.018837668189119278),
    ('2016-08-03', -0.0034746248786683429),
    ('2016-08-04', -0.0046992901892257211),
    ('2016-08-05', -0.023035820344712479),
    ('2016-08-08', -0.010295116987840792),
    ('2016-08-09', -0.00025489861275793016),
    ('2016-08-10', 0.011401570414901748),
    ('2016-08-11', 0.013920114904969335),
    ('2016-08-12', 0.00049326334438533456),
    ('2016-08-15', 0.0011895782002057239),
    ('2016-08-16', 0.012094672707823596),
    ('2016-08-17', 0.0049551182936337793),
    ('2016-08-18', 0.0097700878802510823),
    ('2016-08-19', 0.018206597759998871),
    ('2016-08-22', 0.015759992777729569),
    ('2016-08-23', 0.022548219684173611),
    ('2016-08-24', 0.057174573506141239),
    ('2016-08-25', 0.046977088879031827),
    ('2016-08-26', 0.037892785713304185),
    ('2016-08-29', 0.062921960585718931),
    ('2016-08-30', 0.071299791809027346),
    ('2016-08-31', 0.074248257272908805),
    ('2016-09-01', 0.075614109728085049),
    ('2016-09-02', 0.07953763590061444),
    ('2016-09-06', 0.074519441923145288),
    ('2016-09-07', 0.071114959446599443),
    ('2016-09-08', 0.062627604045849564),
    ('2016-09-09', 0.079306629383826113),
    ('2016-09-12', 0.056384894587550277),
    ('2016-09-13', 0.066627113140471234),
    ('2016-09-14', 0.052456049021100043),
    ('2016-09-15', 0.05990494141141877),
    ('2016-09-16', 0.085206829365244124),
    ('2016-09-19', 0.083377672647875808),
    ('2016-09-20', 0.11027684055144137),
    ('2016-09-21', 0.098532267057670292),
    ('2016-09-22', 0.10635662506198874),
    ('2016-09-23', 0.10580098004567023),
    ('2016-09-26', 0.11000204717529449),
    ('2016-09-27', 0.098138449773050251),
    ('2016-09-28', 0.10434358012041095),
    ('2016-09-29', 0.12565426825460249),
    ('2016-09-30', 0.11166692743253788),
    ('2016-10-03', 0.10437782528842766),
    ('2016-10-04', 0.11272432779857071),
    ('2016-10-05', 0.12654053562577183),
    ('2016-10-06', 0.13195271065259137),
    ('2016-10-07', 0.14240953401436462),
    ('2016-10-10', 0.12547345627470591),
    ('2016-10-11', 0.12834895849241118),
    ('2016-10-12', 0.14564928367013638),
    ('2016-10-13', 0.15204426361171283),
    ('2016-10-14', 0.16712689039570897),
    ('2016-10-17', 0.16948041684113829),
    ('2016-10-18', 0.16946536985968305),
    ('2016-10-19', 0.17232650161804056),
    ('2016-10-20', 0.16620700344851994),
    ('2016-10-21', 0.16629474624040003),
    ('2016-10-24', 0.18375108757551789),
    ('2016-10-25', 0.1794053798907938),
    ('2016-10-26', 0.18833002850812705),
    ('2016-10-27', 0.16602620458015679),
    ('2016-10-28', 0.15314279043494369),
    ('2016-10-31', 0.16045188775687805),
    ('2016-11-01', 0.17476987830339627),
    ('2016-11-02', 0.17275109841245825),
    ('2016-11-03', 0.17929739427625213),
    ('2016-11-04', 0.16341575649703705),
    ('2016-11-07', 0.14596917154104283),
    ('2016-11-08', 0.15623465218000082),
    ('2016-11-09', 0.098190593478985858),
    ('2016-11-10', 0.090627993165405138),
    ('2016-11-11', 0.07899000028625143),
    ('2016-11-14', 0.06956939459917949),
    ('2016-11-15', 0.077819654924265416),
    ('2016-11-16', 0.094469045996980375),
    ('2016-11-17', 0.073794274458403475),
    ('2016-11-18', 0.080665621596876444),
    ('2016-11-21', 0.074520643291991984),
    ('2016-11-22', 0.073977214471726171),
    ('2016-11-23', 0.0653160762568923),
    ('2016-11-25', 0.035967278243011346),
    ('2016-11-28', -0.012573552521564436),
    ('2016-11-29', -0.032996582124853548),
    ('2016-11-30', -0.023935683435540055),
    ('2016-12-01', -0.0086885725711509775),
    ('2016-12-02', -0.0085057804788739554),
    ('2016-12-05', -0.009168137833508767),
    ('2016-12-06', -0.015140854019869953),
    ('2016-12-07', 0.0058568402397507126),
    ('2016-12-08', -0.002331446566450924),
    ('2016-12-09', 0.0034562373193123682),
    ('2016-12-12', -0.01746395106081753),
    ('2016-12-13', -0.048791917264013752),
    ('2016-12-14', -0.045592780548518945),
    ('2016-12-15', -0.056289582502022435)],
   [('2016-07-08', 7681.0),
    ('2016-07-11', 16825.0),
    ('2016-07-12', 22470.0),
    ('2016-07-13', 9920.0),
    ('2016-07-14', 215010.0),
    ('2016-07-15', 14297.0),
    ('2016-07-18', 40818.0),
    ('2016-07-19', 9200.0),
    ('2016-07-20', 24978.0),
    ('2016-07-21', 16648.0),
    ('2016-07-22', 17997.0),
    ('2016-07-25', 162025.0),
    ('2016-07-26', 68652.0),
    ('2016-07-27', 68800.0),
    ('2016-07-28', 124551.0),
    ('2016-07-29', 42982.0),
    ('2016-08-01', 64651.0),
    ('2016-08-02', 26650.0),
    ('2016-08-03', 77126.0),
    ('2016-08-04', 72364.0),
    ('2016-08-05', 42418.0),
    ('2016-08-08', 17935.0),
    ('2016-08-09', 23444.0),
    ('2016-08-10', 26033.0),
    ('2016-08-11', 19946.0),
    ('2016-08-12', 16662.0),
    ('2016-08-15', 14908.0),
    ('2016-08-16', 17065.0),
    ('2016-08-17', 20566.0),
    ('2016-08-18', 7194.0),
    ('2016-08-19', 20818.0),
    ('2016-08-22', 17692.0),
    ('2016-08-23', 43839.0),
    ('2016-08-24', 180495.0),
    ('2016-08-25', 167181.0),
    ('2016-08-26', 43463.0),
    ('2016-08-29', 24245.0),
    ('2016-08-30', 37682.0),
    ('2016-08-31', 39478.0),
    ('2016-09-01', 40396.0),
    ('2016-09-02', 115987.0),
    ('2016-09-06', 34410.0),
    ('2016-09-07', 32374.0),
    ('2016-09-08', 43435.0),
    ('2016-09-09', 32179.0),
    ('2016-09-12', 27614.0),
    ('2016-09-13', 57526.0),
    ('2016-09-14', 37610.0),
    ('2016-09-15', 40640.0),
    ('2016-09-16', 124992.0),
    ('2016-09-19', 94193.0),
    ('2016-09-20', 114745.0),
    ('2016-09-21', 54702.0),
    ('2016-09-22', 60095.0),
    ('2016-09-23', 36079.0),
    ('2016-09-26', 26588.0),
    ('2016-09-27', 34857.0),
    ('2016-09-28', 117630.0),
    ('2016-09-29', 102451.0),
    ('2016-09-30', 63342.0),
    ('2016-10-03', 30597.0),
    ('2016-10-04', 31680.0),
    ('2016-10-05', 174200.0),
    ('2016-10-06', 2188942.0),
    ('2016-10-07', 311749.0),
    ('2016-10-10', 67957.0),
    ('2016-10-11', 108894.0),
    ('2016-10-12', 68475.0),
    ('2016-10-13', 52087.0),
    ('2016-10-14', 32330.0),
    ('2016-10-17', 189722.0),
    ('2016-10-18', 102291.0),
    ('2016-10-19', 46409.0),
    ('2016-10-20', 29888.0),
    ('2016-10-21', 52628.0),
    ('2016-10-24', 68941.0),
    ('2016-10-25', 447448.0),
    ('2016-10-26', 34987.0),
    ('2016-10-27', 51472.0),
    ('2016-10-28', 44942.0),
    ('2016-10-31', 70308.0),
    ('2016-11-01', 83297.0),
    ('2016-11-02', 52075.0),
    ('2016-11-03', 50813.0),
    ('2016-11-04', 52501.0),
    ('2016-11-07', 118422.0),
    ('2016-11-08', 72394.0),
    ('2016-11-09', 106930.0),
    ('2016-11-10', 125356.0),
    ('2016-11-11', 40364.0),
    ('2016-11-14', 42400.0),
    ('2016-11-15', 68308.0),
    ('2016-11-16', 49538.0),
    ('2016-11-17', 61471.0),
    ('2016-11-18', 10231.0),
    ('2016-11-21', 51579.0),
    ('2016-11-22', 31640.0),
    ('2016-11-23', 101472.0),
    ('2016-11-25', 115995.0),
    ('2016-11-28', 267238.0),
    ('2016-11-29', 217631.0),
    ('2016-11-30', 100649.0),
    ('2016-12-01', 122651.0),
    ('2016-12-02', 100155.0),
    ('2016-12-05', 100519.0),
    ('2016-12-06', 66641.0),
    ('2016-12-07', 120812.0),
    ('2016-12-08', 62898.0),
    ('2016-12-09', 68737.0),
    ('2016-12-12', 89033.0),
    ('2016-12-13', 204668.0),
    ('2016-12-14', 179892.0),
    ('2016-12-15', 63278.0)]))]

In [24]:
dill.dump(norm_data_annotated, open('normalized_stock_price_slices.pkl', 'w'))

That looks normalized and serialized to me (now with dates for easy dataframe construction for [tsFresh](https://github.com/blue-yonder/tsfresh). Time to run some peak detection and get creative with feature extraction.