# ...So
We now have a dictionary containing dataframes of FDA action dates and stock price time series. Lets open it up from dill and begin cutting out our feature space.

In [1]:
import dill
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook

In [2]:
company_dataframes = dill.load(open('Prices_and_FDA_Dates.pkl', 'r'))
company_list = company_dataframes.keys()

In [3]:
len(company_list)

186

Lets also open the index price and normalize our prices to that

In [4]:
closing_index = dill.load(open("close_price_stats_frame.pkl", "r"))

In [5]:
closing_index

              CP_mean    CP_stdv
2000-01-03  27.105697  28.486195
2000-01-04  25.714626  27.195048
2000-01-05  25.839977  27.284835
2000-01-06  26.257429  27.431282
2000-01-07  28.418530  30.458220
2000-01-10  29.682323  31.791633
2000-01-11  29.124288  30.836872
2000-01-12  28.900803  30.421695
2000-01-13  29.900409  32.670777
2000-01-14  30.369091  32.851835
2000-01-18  30.573311  32.734440
2000-01-19  31.521000  33.876424
2000-01-20  31.686902  33.591668
2000-01-21  32.574053  35.267462
2000-01-24  31.603583  32.928903
2000-01-25  31.171758  31.926195
2000-01-26  31.573591  32.746978
2000-01-27  30.780606  31.853642
2000-01-28  29.986258  31.062209
2000-01-31  29.302308  30.033424
2000-02-01  29.794932  30.472890
2000-02-02  30.406386  30.318848
2000-02-03  31.289833  31.820057
2000-02-04  31.859924  32.299167
2000-02-07  32.929098  33.554570
2000-02-08  34.547371  35.474962
2000-02-09  34.626833  36.279885
2000-02-10  35.371856  38.205152
2000-02-11  35.461826  38.034752
2000-02-14  35.772818  37.990066
...               ...        ...
2017-08-25  34.822801  58.654311
2017-08-28  35.664894  59.639928
2017-08-29  35.663518  59.682205
2017-08-30  35.989440  60.850308
2017-08-31  36.788699  62.240344
2017-09-01  36.804418  62.987927
2017-09-05  36.731590  62.130747
2017-09-06  36.976773  62.531439
2017-09-07  36.967663  61.372552
2017-09-08  36.660766  61.214694
2017-09-11  36.792872  59.927926
2017-09-12  36.749220  60.056033
2017-09-13  36.487773  59.382880
2017-09-14  36.363674  59.319470
2017-09-15  36.267245  59.011550
2017-09-18  36.506305  58.874524
2017-09-19  36.254929  58.645888
2017-09-20  36.355709  58.991913
2017-09-21  36.145943  58.388500
2017-09-22  35.842043  58.415541
2017-09-25  36.149663  58.630952
2017-09-26  35.760007  58.220002
2017-09-27  36.001213  58.138290
2017-09-28  36.075791  58.121120
2017-09-29  36.463504  59.077246
2017-10-02  37.233053  60.021047
2017-10-03  37.138699  59.713430
2017-10-04  37.239156  59.714376
2017-10-05  37.460993  60.422387
2017-10-06  37.539296  60.918032

[4470 rows x 2 columns]

In [6]:
company_dataframes['NEW'].loc[company_dataframes['NEW']['pdufa?'] == True]

            volume  close  high  open   low  pdufa?
2006-10-06     0.0   11.6  12.8  12.8  11.6    True

In [7]:
testdf = company_dataframes['NEW']

In [8]:
testdf.reset_index(inplace = True)

In [9]:
testdf.loc[testdf['pdufa?']]

           index  volume  close  high  open   low  pdufa?
1699  2006-10-06     0.0   11.6  12.8  12.8  11.6    True

In [10]:
testdf.loc[1699]

index     2006-10-06
volume             0
close           11.6
high            12.8
open            12.8
low             11.6
pdufa?          True
Name: 1699, dtype: object

In [11]:
testdf.loc[1699]['close']

11.6

In [12]:
testind = testdf.index[testdf['pdufa?'] == True]

In [13]:
testind

Int64Index([1699], dtype='int64')

In [14]:
testind[0]

1699

So general idea:
1. iterate through dictionary of dataframes
1. in each dataframe, find each row with a `pdufa`
1. collect the (preceding and following) 120 rows of close prices and volumes
1. return those as an array of close price and volume vectors with the company name and pdufa date as metadata
1. something to the effect of `("Ticker", pdufaDate, (120 preceding close prices and volumes), (120 following close prices and volumes))`

In [15]:
company_dataframes['ABBV'].join(closing_index, how='left')

,volume,close,high,open,low,pdufa?,CP_mean,CP_stdv
2013-01-02,13767900.0,35.1200,35.400,34.92,34.100,False,20.154024,30.430870
2013-01-03,16739300.0,34.8300,35.000,35.00,34.160,False,20.209573,30.325838
2013-01-04,21372100.0,34.3908,34.890,34.62,34.250,False,20.326711,30.424589
2013-01-07,17897100.0,34.4600,35.450,34.15,34.150,False,20.410941,30.500001
2013-01-08,17863300.0,33.7100,34.640,34.29,33.360,False,20.510795,30.449752
2013-01-09,18800400.0,33.9000,33.950,33.61,33.610,False,20.738938,30.879858
2013-01-10,15658100.0,34.0000,34.000,33.66,33.330,False,20.862919,31.083608
2013-01-11,11191500.0,33.8500,33.900,33.59,33.350,False,20.805752,30.941736
2013-01-14,11584900.0,34.0900,34.250,34.01,33.800,False,20.785771,30.914987
2013-01-15,13040200.0,34.6000,34.720,33.71,33.710,False,20.861152,30.795951
2013-01-16,16512700.0,35.5400,35.540,34.47,34.450,False,20.687755,30.562778
2013-01-17,14424800.0,36.4200,36.700,35.75,35.750,False,20.724917,30.619794
2013-01-18,17842200.0,37.3200,37.320,36.43,36.040,False,20.698427,30.494191
2013-01-22,15809700.0,36.4200,37.250,36.98,35.930,False,20.856519,30.936714
2013-01-23,10981600.0,37.8000,37.840,36.91,36.500,False,20.834517,30.861673
2013-01-24,11327100.0,37.4600,38.520,37.79,37.230,False,20.882280,30.965758
2013-01-25,8934600.0,37.6000,37.840,37.52,36.640,False,21.104289,31.335644
2013-01-28,7140100.0,36.8900,37.870,37.65,36.710,False,20.700548,30.792913
2013-01-29,8838500.0,37.3100,37.460,36.71,36.250,False,20.842082,31.166319
2013-01-30,10841800.0,36.9300,37.525,36.81,36.810,False,20.735708,31.181648
2013-01-31,10720700.0,36.6900,36.930,36.84,36.270,False,20.807224,31.144233
2013-02-01,9527500.0,37.1800,37.200,36.84,36.520,False,21.034501,31.611466
2013-02-04,6348000.0,37.2800,37.300,36.64,36.550,False,20.811385,31.250340
2013-02-05,7284400.0,37.2000,37.730,37.42,37.180,False,20.985810,31.435324
2013-02-06,5738900.0,37.1400,37.280,36.96,36.860,False,20.973452,31.491758
2013-02-07,9872500.0,36.4200,37.570,37.57,35.800,False,20.738629,31.145085
2013-02-08,13858700.0,36.2500,36.420,36.37,35.825,False,20.878437,31.461855
2013-02-11,6032100.0,35.8500,36.180,36.13,35.750,False,20.642991,30.540234
2013-02-12,7473800.0,35.4200,35.900,35.77,35.200,False,20.641355,30.591766
2013-02-13,4859800.0,35.2700,35.570,35.42,35.150,False,20.761219,30.880828
...,...,...,...,...,...,...,...,...
2017-08-25,3852441.0,72.4800,72.780,72.22,72.210,False,34.822801,58.654311
2017-08-28,4533174.0,73.3200,73.570,72.67,72.560,False,35.664894,59.639928
2017-08-29,3329315.0,73.8900,73.900,72.78,72.780,False,35.663518,59.682205
2017-08-30,3073646.0,73.9200,74.180,73.62,73.580,False,35.989440,60.850308
2017-08-31,6177574.0,75.3000,75.400,74.11,73.920,False,36.788699,62.240344
2017-09-01,3831839.0,75.4200,76.000,75.59,75.260,False,36.804418,62.987927
2017-09-05,6309109.0,75.2500,75.580,75.39,74.730,False,36.731590,62.130747
2017-09-06,7678544.0,77.0500,77.460,75.61,75.350,False,36.976773,62.531439
2017-09-07,15320232.0,81.7800,82.450,77.29,77.000,False,36.967663,61.372552
2017-09-08,14730393.0,85.3400,86.090,81.29,81.110,False,36.660766,61.214694
2017-09-11,12534041.0,87.0000,87.100,84.46,84.380,False,36.792872,59.927926
2017-09-12,11085405.0,87.7500,87.970,86.97,86.500,False,36.749220,60.056033
2017-09-13,9018210.0,88.4700,88.840,87.58,87.420,False,36.487773,59.382880
2017-09-14,9997339.0,89.2200,89.320,88.23,88.150,False,36.363674,59.319470
2017-09-15,20332092.0,87.3700,89.690,89.39,86.520,False,36.267245,59.011550
2017-09-18,9655625.0,85.3200,87.810,87.47,85.080,False,36.506305,58.874524
2017-09-19,7560461.0,86.3700,86.660,85.54,85.380,False,36.254929,58.645888
2017-09-20,6484698.0,87.4100,87.480,86.40,86.250,False,36.355709,58.991913
2017-09-21,7039818.0,87.4100,87.700,87.36,86.670,False,36.145943,58.388500
2017-09-22,6790179.0,87.4800,87.750,87.22,86.770,False,35.842043,58.415541
2017-09-25,8143384.0,86.5700,87.780,86.92,86.400,False,36.149663,58.630952
2017-09-26,5681763.0,85.3500,86.910,86.35,85.160,False,35.760007,58.220002
2017-09-27,6448814.0,84.7500,85.390,85.35,83.190,False,36.001213,58.138290
2017-09-28,14780327.0,88.9600,90.950,86.67,86.380,False,36.075791,58.121120
2017-09-29,6741247.0,88.8600,89.350,88.69,87.670,False,36.463504,59.077246
2017-10-02,5840957.0,90.3900,90.410,89.74,88.910,False,37.233053,60.021047
2017-10-03,4284211.0,89.7000,90.640,90.44,89.020,False,37.138699,59.713430
2017-10-04,3205853.0,89.9000,90.440,89.52,89.310,False,37.239156,59.714376
2017-10-05,4197283.0,90.1800,90.560,89.69,89.480,False,37.460993,60.422387
2017-10-06,3461787.0,90.4900,91.330,90.20,89.950,False,37.539296,60.918032

In [16]:
data = []
for company in tqdm_notebook(company_list):
    df = company_dataframes[company].reset_index()
    pdufa_dates = df.index[df['pdufa?']].tolist()
    if len(pdufa_dates) > 0:
        for date in pdufa_dates:
            pRange = range(date-120, date)
            fRange = range(date, date+121)
            pCloses, pVolumes, fCloses, fVolumes = [], [], [], []
            for i in pRange:
                try:
                    pCloses.append(df.loc[i]['close'])
                    pVolumes.append(df.loc[i]['volume'])
                except:
                    pCloses.append(None)
                    pVolumes.append(None)
            for i in fRange:
                try:
                    fCloses.append(df.loc[i]['close'])
                    fVolumes.append(df.loc[i]['volume'])
                except:
                    fCloses.append(None)
                    fVolumes.append(None)
            data.append((company, df.loc[date]['index'], (pCloses, pVolumes), (fCloses, fVolumes)))

In [17]:
dill.dump(data, open('stock_price_training_slices.pkl', 'w'))

So theres our data points, stored as slices of the stock price/volume histories 120 days prior to an FDA event. `268*120*2 = 64320` data points in total. Time for some signal processing.

I know this could be done far more elegantly, but I need an adequate solution _yesterday_, not a perfect one next week.

# Part Two

Now I've made a closing price index, so lets normalize the prices to that. I'm also shortening the slices from [120 days prior to day of], to [120 days prior to 7 days prior] for the eventual web facing app. 

Obviously we no longer need following slices for plots, as the data has been annotated.

In [18]:
norm_data = []
for company in tqdm_notebook(company_list):
    df = company_dataframes[company].join(closing_index, how='left').reset_index()
    pdufa_dates = df.index[df['pdufa?']].tolist()
    if len(pdufa_dates) > 0:
        for date in pdufa_dates:
            pRange = range(date-120, date-7)
            pCloses, pVolumes = [], []
            for i in pRange:
                try:
                    close_price = df.loc[i]['close']
                    volume = df.loc[i]['volume']
                    mean_price = df.loc[i]['CP_mean']
                    stdv_price = df.loc[i]['CP_stdv']
                    pCloses.append((close_price-mean_price)/(stdv_price))
                    pVolumes.append(volume)
                except:
                    pCloses.append(None)
                    pVolumes.append(None)
            norm_data.append((company, df.loc[date]['index'], (pCloses, pVolumes)))

That looks normalized to me, lets rejoin the annotations to the data and begin feature extraction.

In [19]:
scores = [line.split() for line in open("score_sheet_complete.txt", "r").readlines()]

In [20]:
scores[:2]

[['AAAP', '2016-06-01', '1'], ['AAAP', '2016-12-28', '1']]

In [21]:
norm_data_annotated = []
for datum, score in zip(norm_data, scores):
    if datum[0] == score [0] and datum [1] == score[1]:
        norm_data_annotated.append((datum[0], datum[1], 
                                    score[2], datum[2] ))
    else:
        print "whoops theres a mismatch"

In [22]:
norm_data_annotated[:2]

[('AAAP',
  '2016-06-01',
  '1',
  ([-0.12174738784081005,
    -0.11649757460863203,
    -0.12202718753675167,
    -0.10701232720700836,
    -0.098575729382038818,
    -0.1192150549485034,
    -0.13214151674067587,
    -0.11797484551305558,
    -0.082288199923163566,
    -0.1143065235110669,
    -0.11929035332875815,
    -0.11892191948170955,
    -0.12568038792527547,
    -0.12710162195805946,
    -0.12395220359326434,
    -0.1227671908381152,
    -0.092712355058081633,
    -0.083297778426778893,
    -0.082662390476770778,
    -0.090411169273986777,
    -0.066076615447791726,
    -0.090436371473833085,
    -0.086162818845528177,
    -0.13408592795608898,
    -0.091785042591575619,
    -0.12446081332632397,
    -0.10579387547911373,
    -0.084261111022572513,
    -0.075454238566828313,
    -0.072115745708099421,
    -0.066044114655135239,
    -0.11694274320792392,
    -0.10622732599259678,
    -0.091626651628569672,
    -0.094566589786288124,
    -0.09096207655742361,
    -0.086236855778255864,
    -0.079347879869638024,
    -0.071516656047982921,
    -0.052659607766922321,
    -0.049486248390720244,
    -0.049130616777635548,
    -0.057923222353312716,
    -0.038317305595650435,
    -0.045915823142258512,
    -0.052543652590076588,
    -0.037280625407747348,
    -0.038312381580170286,
    0.051178633651171604,
    0.05278173504753883,
    0.068751969859325524,
    0.062053548707741643,
    0.089539739924641773,
    0.10152273406653819,
    0.097812047129828938,
    0.12421075636218368,
    0.084840256774462497,
    0.072529171424669428,
    0.096293235286023571,
    0.099013328214318116,
    0.099861130775953294,
    0.12007444896962188,
    0.1382105236649443,
    0.12197638818057931,
    0.076146862337189453,
    0.10145655578236173,
    0.15920145274176414,
    0.15991721921053298,
    0.17902674905175031,
    0.23349842104040314,
    0.2248820111959991,
    0.18469978910049914,
    0.17687173717259924,
    0.15997633650090329,
    0.13655562895306406,
    0.14977629680888546,
    0.19422502166035149,
    0.16222665158100766,
    0.13779767357406447,
    0.14351023256524367,
    0.11809317609660146,
    0.11873878292471497,
    0.088886296722195224,
    0.11491132703504858,
    0.13133544604052008,
    0.12253398951366072,
    0.095172225857431278,
    0.085247011642741122,
    0.092766895719989168,
    0.075747300196769785,
    0.082434614767107076,
    0.092133543255694575,
    0.080216405203318811,
    0.06026919560220844,
    0.045373539384161041,
    0.094725646443200792,
    0.092941731331399102,
    0.11993823687306239,
    0.11824282317032522,
    0.090658024633296252,
    0.095216467531964596,
    0.12665767027156699,
    0.10101093708931214,
    0.05431660118830766,
    0.10122170244001864,
    0.13150025752616443,
    0.11254942753264882,
    0.06650087159798071,
    0.012096881002209896,
    -0.004004856062752922,
    -0.010143964219735372,
    -0.017694700723375284,
    -0.01427800016699165],
   [130370.0,
    53597.0,
    40949.0,
    39314.0,
    27640.0,
    23286.0,
    19505.0,
    28078.0,
    95548.0,
    25596.0,
    23077.0,
    15462.0,
    11598.0,
    31204.0,
    17157.0,
    14225.0,
    46824.0,
    62424.0,
    18270.0,
    11958.0,
    16948.0,
    122121.0,
    132093.0,
    78380.0,
    32313.0,
    27425.0,
    41271.0,
    62733.0,
    31875.0,
    45164.0,
    27341.0,
    47699.0,
    53747.0,
    29470.0,
    310937.0,
    60790.0,
    74654.0,
    55448.0,
    51361.0,
    12599.0,
    14698.0,
    14285.0,
    23039.0,
    23674.0,
    13569.0,
    36378.0,
    23836.0,
    118221.0,
    122521.0,
    152768.0,
    86390.0,
    77749.0,
    146269.0,
    41730.0,
    40211.0,
    28145.0,
    46574.0,
    26717.0,
    21509.0,
    24192.0,
    26860.0,
    93342.0,
    19384.0,
    113775.0,
    24586.0,
    46949.0,
    127489.0,
    88150.0,
    32327.0,
    37268.0,
    28293.0,
    19461.0,
    65644.0,
    36142.0,
    26680.0,
    31452.0,
    14816.0,
    29066.0,
    23541.0,
    9579.0,
    230484.0,
    13937.0,
    111566.0,
    28087.0,
    10564.0,
    54248.0,
    22748.0,
    14574.0,
    17047.0,
    9756.0,
    11896.0,
    16289.0,
    6766.0,
    114634.0,
    32954.0,
    7607.0,
    17379.0,
    34829.0,
    7540.0,
    7656.0,
    23498.0,
    10737.0,
    16827.0,
    27003.0,
    14868.0,
    36788.0,
    62768.0,
    315850.0,
    114425.0,
    77626.0,
    74518.0,
    35565.0,
    27271.0])),
 ('AAAP',
  '2016-12-28',
  '1',
  ([0.014885933371596216,
    0.02128387057681105,
    0.029314877788186443,
    0.035163695579531015,
    0.025995264536175428,
    0.01360270487619415,
    0.00750791674990806,
    0.024145305653978585,
    0.010529174085141176,
    0.0055251002199500484,
    -0.00046524188858836627,
    0.0093846988821145016,
    0.0054817906097046152,
    -0.013281264431114541,
    -0.012514398105275625,
    -0.0040469487833181272,
    -0.013063490905721512,
    -0.018837668189119278,
    -0.0034746248786683429,
    -0.0046992901892257211,
    -0.023035820344712479,
    -0.010295116987840792,
    -0.00025489861275793016,
    0.011401570414901748,
    0.013920114904969335,
    0.00049326334438533456,
    0.0011895782002057239,
    0.012094672707823596,
    0.0049551182936337793,
    0.0097700878802510823,
    0.018206597759998871,
    0.015759992777729569,
    0.022548219684173611,
    0.057174573506141239,
    0.046977088879031827,
    0.037892785713304185,
    0.062921960585718931,
    0.071299791809027346,
    0.074248257272908805,
    0.075614109728085049,
    0.07953763590061444,
    0.074519441923145288,
    0.071114959446599443,
    0.062627604045849564,
    0.079306629383826113,
    0.056384894587550277,
    0.066627113140471234,
    0.052456049021100043,
    0.05990494141141877,
    0.085206829365244124,
    0.083377672647875808,
    0.11027684055144137,
    0.098532267057670292,
    0.10635662506198874,
    0.10580098004567023,
    0.11000204717529449,
    0.098138449773050251,
    0.10434358012041095,
    0.12565426825460249,
    0.11166692743253788,
    0.10437782528842766,
    0.11272432779857071,
    0.12654053562577183,
    0.13195271065259137,
    0.14240953401436462,
    0.12547345627470591,
    0.12834895849241118,
    0.14564928367013638,
    0.15204426361171283,
    0.16712689039570897,
    0.16948041684113829,
    0.16946536985968305,
    0.17232650161804056,
    0.16620700344851994,
    0.16629474624040003,
    0.18375108757551789,
    0.1794053798907938,
    0.18833002850812705,
    0.16602620458015679,
    0.15314279043494369,
    0.16045188775687805,
    0.17476987830339627,
    0.17275109841245825,
    0.17929739427625213,
    0.16341575649703705,
    0.14596917154104283,
    0.15623465218000082,
    0.098190593478985858,
    0.090627993165405138,
    0.07899000028625143,
    0.06956939459917949,
    0.077819654924265416,
    0.094469045996980375,
    0.073794274458403475,
    0.080665621596876444,
    0.074520643291991984,
    0.073977214471726171,
    0.0653160762568923,
    0.035967278243011346,
    -0.012573552521564436,
    -0.032996582124853548,
    -0.023935683435540055,
    -0.0086885725711509775,
    -0.0085057804788739554,
    -0.009168137833508767,
    -0.015140854019869953,
    0.0058568402397507126,
    -0.002331446566450924,
    0.0034562373193123682,
    -0.01746395106081753,
    -0.048791917264013752,
    -0.045592780548518945,
    -0.056289582502022435],
   [7681.0,
    16825.0,
    22470.0,
    9920.0,
    215010.0,
    14297.0,
    40818.0,
    9200.0,
    24978.0,
    16648.0,
    17997.0,
    162025.0,
    68652.0,
    68800.0,
    124551.0,
    42982.0,
    64651.0,
    26650.0,
    77126.0,
    72364.0,
    42418.0,
    17935.0,
    23444.0,
    26033.0,
    19946.0,
    16662.0,
    14908.0,
    17065.0,
    20566.0,
    7194.0,
    20818.0,
    17692.0,
    43839.0,
    180495.0,
    167181.0,
    43463.0,
    24245.0,
    37682.0,
    39478.0,
    40396.0,
    115987.0,
    34410.0,
    32374.0,
    43435.0,
    32179.0,
    27614.0,
    57526.0,
    37610.0,
    40640.0,
    124992.0,
    94193.0,
    114745.0,
    54702.0,
    60095.0,
    36079.0,
    26588.0,
    34857.0,
    117630.0,
    102451.0,
    63342.0,
    30597.0,
    31680.0,
    174200.0,
    2188942.0,
    311749.0,
    67957.0,
    108894.0,
    68475.0,
    52087.0,
    32330.0,
    189722.0,
    102291.0,
    46409.0,
    29888.0,
    52628.0,
    68941.0,
    447448.0,
    34987.0,
    51472.0,
    44942.0,
    70308.0,
    83297.0,
    52075.0,
    50813.0,
    52501.0,
    118422.0,
    72394.0,
    106930.0,
    125356.0,
    40364.0,
    42400.0,
    68308.0,
    49538.0,
    61471.0,
    10231.0,
    51579.0,
    31640.0,
    101472.0,
    115995.0,
    267238.0,
    217631.0,
    100649.0,
    122651.0,
    100155.0,
    100519.0,
    66641.0,
    120812.0,
    62898.0,
    68737.0,
    89033.0,
    204668.0,
    179892.0,
    63278.0]))]

In [23]:
dill.dump(norm_data_annotated, open('normalized_stock_price_slices.pkl', 'w'))

That looks normalized and serialized to me. Time to run some peak detection and get creative with feature extraction.