# Getting __more__ stock data

In [2]:
import numpy as np
import pandas as pd
import dill
from sqlalchemy import create_engine, inspect
from tqdm import tqdm_notebook
from alpha_vantage.timeseries import TimeSeries

So I'm going to try another API provider, [Alpha Vantage](https://www.alphavantage.co/documentation/), to see if they offer a more complete listing of end of day stock prices. The number to beat is 110 companies.

...Lets get started by importing our set of tickers

In [3]:
future_Ticks = dill.load(open('future_ticker_symbols.pkl', 'r'))

In [4]:
past_Ticks = dill.load(open('past_ticker_symbols.pkl', 'r'))

In [5]:
tickSymbs = future_Ticks.union(past_Ticks)

...and our Alpha Vantage API key, from an ignored file not pushed to my public repo

In [6]:
av_key_handle = open("alphavantage.apikey", "r")
ts = TimeSeries(key=av_key_handle.read().strip(), output_format='pandas')
av_key_handle.close()

...finally we can connect to the sqlite database and start pulling down data

In [7]:
engine = create_engine('sqlite:///training_data.db')

In [8]:
losers = []
winners = []
for ticker in tqdm_notebook(tickSymbs):
    try:
        df, meta = ts.get_daily(symbol=ticker, outputsize='full')
        df.to_sql(meta["2. Symbol"], engine, if_exists = 'replace')
    except:
        losers.append(ticker)
    else:
        winners.append(meta["2. Symbol"])

In [9]:
print len(winners), winners
print len(losers), losers

273 ['AGN', 'LIFE', 'AAAP', 'SAGE', 'BPTH', 'AGEN', 'ESPR', 'RETA', 'IRWD', 'VNDA', 'BYSI', 'CNAT', 'ALDR', 'VRTX', 'AGLE', 'DRRX', 'EXEL', 'FLXN', 'XBIT', 'JNCE', 'MEIP', 'ADMP', 'ADMS', 'OTIC', 'ACOR', 'CEMP', 'KMPH', 'ANAB', 'TNXP', 'ITEK', 'JNJ', 'PSTI', 'SNY', 'AMAG', 'AFMD', 'GWPH', 'GBT', 'CRMD', 'LPCN', 'SVRA', 'VCEL', 'PTGX', 'ADXS', 'PHMMF', 'DCTH', 'TBPH', 'DVAX', 'SGEN', 'IOVA', 'BHVN', 'NVLS', 'EGRX', 'AXSM', 'GLMD', 'CPRX', 'DBVT', 'RDUS', 'NVS', 'RNN', 'ALDX', 'OPHT', 'KURA', 'CBIO', 'NVO', 'OPK', 'EBIO', 'HRTX', 'ONTX', 'MRUS', 'SPPI', 'AMGN', 'CRBP', 'KTOV', 'SMMT', 'AZN', 'VRX', 'HALO', 'MBVX', 'BLRX', 'LOXO', 'SNDX', 'CNCE', 'IMGN', 'LJPC', 'MNOV', 'GALE', 'ATRS', 'CLSD', 'INNL', 'CLSN', 'TXMD', 'CHRS', 'PLX', 'EARS', 'AKBA', 'MYOK', 'OCRX', 'EPZM', 'PTCT', 'CYCC', 'FLKS', 'BLPH', 'ATNM', 'MRNS', 'HSGX', 'PGNX', 'TENX', 'MDCO', 'IMRN', 'CELG', 'ATNX', 'RXII', 'VTGN', 'APRI', 'AERI', 'NEOS', 'RDHL', 'CYTK', 'MESO', 'OCUL', 'ICPT', 'DMTX', 'ADRO', 'ACRS', 'CERC', 'ACRX', 'SRNE', 'SCMP', 'REPH', 'INCY', 'ARDX', 'SNGX', 'SGYP', 'KALA', 'ANIK', 'NBRV', 'ZFGN', 'AGTC', 'MTNB', 'MRSN', 'GSK', 'CLVS', 'DARE', 'RARE', 'KERX', 'XENT', 'GERN', 'CHMA', 'AVIR', 'MYL', 'RXDX', 'MBIO', 'NVAX', 'SNNA', 'BOLD', 'RVNC', 'MRK', 'KPTI', 'PBYI', 'AMRN', 'SRPT', 'ARQL', 'TGTX', 'VBLT', 'ALRN', 'ARGX', 'ARGS', 'HZNP', 'REGN', 'BMRN', 'HTBX', 'CTIC', 'PULM', 'LLY', 'PTI', 'IDRA', 'VTVT', 'SGMO', 'TEVA', 'ALNY', 'BMY', 'EVOK', 'JAZZ', 'UTHR', 'EYEG', 'AEZS', 'TCON', 'AQXP', 'XNCR', 'FBIO', 'AMPH', 'FENC', 'BTX', 'LXRX', 'NVCR', 'AIMT', 'OGEN', 'GTHX', 'ANTH', 'AGIO', 'SBBP', 'TOCA', 'IMDZ', 'SPHS', 'XLRN', 'CLRB', 'ADHD', 'MBRX', 'GEMP', 'AVEO', 'AST', 'ONCS', 'LGND', 'MCRB', 'ONCE', 'IONS', 'MDGL', 'CDTX', 'GILD', 'FGEN', 'RGNX', 'VTL', 'CORT', 'PRTA', 'PRTO', 'ALKS', 'BLUE', 'RIGL', 'EGLT', 'CLBS', 'VKTX', 'ARNA', 'MDWD', 'NLNK', 'VRNA', 'GALT', 'AGRX', 'GNMX', 'ARDM', 'NBIX', 'AXON', 'DERM', 'ABIO', 'STML', 'KMDA', 'OHRP', 'PTLA', 'EIGR', 'BIIB', 'KDMN', 'TTPH', 'SCYX', 'CYTR', 'ARRY', 'AKAO', 'OBSV', 'RGLS', 'CORI', 'ABBV', 'ALXN', 'TSRO', 'CALA', 'MACK', 'TRVN', 'CFRX', 'ZGNX', 'PFE', 'CLDX', 'IPCI', 'FOMX', 'VICL', 'NKTR', 'MRTX']
4 [u'KITE', 'pdufa', u'INVA', u'KIND']

Lets check in the morning how she did, how far back can she read and what % of companies were successfully pulled?

In [14]:
df

                volume    close     high     open      low
2013-07-15       600.0   7.0500   7.0500   7.0000   7.0000
2013-07-16      1400.0   8.0100   8.0100   7.5000   7.5000
2013-07-17      2000.0   8.5000   8.7500   8.5000   8.2000
2013-07-18      7000.0   9.2000  11.7900  10.8800   9.1800
2013-07-19      1400.0   9.0000   9.2000   9.2000   9.0000
2013-07-22      1000.0  10.0000  10.0000   9.9700   9.5000
2013-07-23       700.0   9.5000   9.5000   9.0225   9.0225
2013-07-24     20400.0   9.0100  10.0300  10.0000   9.0100
2013-07-25      4200.0   9.0000   9.0500   9.0000   8.9990
2013-07-26       300.0   8.5000   8.8400   8.8400   8.5000
2013-07-29      7600.0   8.5000   9.9700   9.9700   8.0101
2013-07-30     10100.0   8.2500   8.5000   8.5000   8.2001
2013-07-31         0.0   8.2500   8.2500   8.2500   8.2500
2013-08-01     10200.0   8.5000   8.5000   8.4999   8.4700
2013-08-02      1600.0   8.3000   8.4900   8.4900   8.2000
2013-08-05      1900.0   8.4200   8.4990   8.0230   8.0000
2013-08-06      2700.0   8.4800   8.4800   7.5100   7.5000
2013-08-07     11300.0   8.4000   8.4900   8.4800   8.2000
2013-08-08      7700.0   8.4900   8.5000   8.5000   8.3300
2013-08-09      8100.0   8.2852   8.5000   8.4900   8.2000
2013-08-12     29700.0   8.4000   8.5000   8.2600   8.2500
2013-08-13     21600.0   8.5000   8.5000   8.4250   8.4250
2013-08-14     19000.0   8.5000   8.5000   8.3500   8.3500
2013-08-15     23900.0   9.0500   9.9999   9.0000   8.9900
2013-08-16       700.0   8.9500   9.4500   9.4500   8.9500
2013-08-19      7900.0   9.0000   9.2000   9.2000   9.0000
2013-08-20     26300.0   8.6000   9.2000   9.1100   8.5800
2013-08-21     23600.0   8.5000   8.7000   8.5000   8.3600
2013-08-22     14500.0   8.4400   8.5000   8.4800   8.4400
2013-08-23     24600.0   8.4400   8.5000   8.4500   8.3000
...                ...      ...      ...      ...      ...
2017-08-25     42879.0   5.2000   5.5000   5.4500   5.2000
2017-08-28     43872.0   5.4000   5.4500   5.1000   5.0500
2017-08-29     71518.0   5.5500   5.7000   5.4000   5.4000
2017-08-30     45786.0   5.6000   5.7000   5.6000   5.5500
2017-08-31     97855.0   5.4000   5.7500   5.5500   5.4000
2017-09-01     99765.0   5.1000   5.6000   5.4500   5.0250
2017-09-05     95333.0   5.0500   5.2250   5.0500   4.9000
2017-09-06     69136.0   5.0000   5.2000   5.1500   4.9000
2017-09-07    128385.0   5.0500   5.1500   5.0000   4.9500
2017-09-08    171262.0   5.0000   5.4000   5.1000   4.9500
2017-09-11     64926.0   4.9500   5.1500   5.0500   4.8000
2017-09-12     63936.0   4.9000   5.0000   4.9000   4.8000
2017-09-13    309654.0   4.8000   4.9500   4.9000   4.7500
2017-09-14    124585.0   4.7500   4.9000   4.8000   4.7500
2017-09-15  48605256.0  11.2000  12.4000   9.8500   9.1500
2017-09-18   8580573.0  10.8000  11.4500  11.4000  10.3500
2017-09-19   6571905.0  10.5000  12.0000  11.6000  10.4500
2017-09-20   1380365.0  10.4500  10.6500  10.3500  10.1000
2017-09-21    590643.0  10.3500  10.8000  10.6000  10.2500
2017-09-22    814176.0   9.8500  10.5500  10.2500   9.7500
2017-09-25    519025.0  10.1000  10.2000   9.8000   9.5500
2017-09-26    519643.0  10.5000  10.7000  10.2500   9.7500
2017-09-27    819486.0  10.7500  11.2500  10.6000  10.5100
2017-09-28    888540.0  11.3500  11.5000  10.7500  10.6300
2017-09-29    781147.0  11.7000  11.7000  11.3000  10.8000
2017-10-02   1178381.0  13.3000  13.8000  11.8500  11.5000
2017-10-03    597724.0  13.3000  13.3500  13.2000  12.6500
2017-10-04   1226135.0  14.9500  15.0000  13.2000  13.0000
2017-10-05    910896.0  14.9000  15.4000  15.3500  14.0000
2017-10-06    504689.0  14.5000  14.9500  14.7000  14.2500

[1068 rows x 5 columns]